[2014-04-17 11:05] ramschmaerchen opened #1 "Self Signed Certificate Check broken"
It seems as if Self Signed Certificates is breaking login.

[2014-04-17 11:10] ramschmaerchen opened #2 "Translate into german"
ownCloud is mainly developed in germany so I guess we should have german translations :)

[2014-04-17 11:10] ramschmaerchen opened #3 "Improve for tablets"
ATM it is not ideal on tablets, we should address that.

[2014-05-11 11:20] maltefiala opened #4 "insufficient storage available"
When trying to install the app, I'll end in "insufficient storage available". There is enough free space on my phone.
I have to clear the cache from the "download manager" first before I can install any other app. Once done, I can install other apps without any errors.

[2014-05-11 11:25] maltefiala opened #5 "Add info about Self Signed Certificates"

[2014-05-11 19:23] #4 closed, assigned to nobody

[2014-05-11 19:45] joergsch opened #6 "path is ignored"
The URL in the app looks like https://servername/owncloud/
The logs of the web server shows that the path seems to be ignored (/owncloud/ is not part of the requested path).
[11/May/2014:21:31:40 +0200] "GET /index.php/apps/notes/api/v0.2/notes HTTP/1.1" 404 345 "-" "Dalvik/1.6.0 (Linux; U; Android 4.1.2; LG-P760 Build/JZO54K)"

[2014-05-14 08:23] #5 closed, assigned to steppenhahn

[2014-05-14 09:15] ramschmaerchen opened #7 "French Translation added"
16bb806e47c21549cbbd0c9b8f9742fb89a05f2c adds French translation. As no one in the team is native speaker it would be great if someone could check our translations:

https://github.com/aykit/myownnotes-android/blob/french_translation/res/values-fr/strings.xml

[2014-05-14 16:30] #6 closed, assigned to steppenhahn

[2014-05-14 22:03] #2 closed, assigned to steppenhahn

[2014-05-14 22:03] #1 closed, assigned to steppenhahn

[2014-05-15 20:52] joergsch opened #8 "handle tailing / in URL"
If the URL has a path with a "/" at the end, the app can't read the notes (the called URL looks like this: https://servername/owncloud//index.php/apps/notes/api/v0.2/notes). If I open this URL in my browser, it shows the standard OC page.
Once I remove the tailing / form the URL (the called URL looks like this: https://servername/owncloud/index.php/apps/notes/api/v0.2/notes) everything is fine.

[2014-05-16 11:15] aytracker opened #9 "java.lang.NullPointerException"
### java.lang.RuntimeException: An error occured while executing doInBackground()

at android.os.AsyncTask$3.done(AsyncTask.java:299)
at java.util.concurrent.FutureTask.finishCompletion(FutureTask.java:352)
at java.util.concurrent.FutureTask.setException(FutureTask.java:219)
at java.util.concurrent.FutureTask.run(FutureTask.java:239)
at android.os.AsyncTask$SerialExecutor$1.run(AsyncTask.java:230)

[2014-05-16 11:19] maltefiala opened #10 "Add Spanish translations"
Would be great. Anyone out there who is fluent in spanish? :)

[2014-05-17 21:57] #7 closed, assigned to steppenhahn

[2014-05-19 17:44] maltefiala opened #13 "Add option for http"
There is a wish for allowing http-Connections: https://github.com/owncloud/notes/issues/45

I propose we implement an option to allow http. This option will be off by default. That is quite a reverse approach to other software and could be misleading. However, it represents aykit's support for more secure software far better.

This issue should be updated when an agreement has been found.

[2014-05-20 16:36] #9 closed, assigned to steppenhahn

[2014-05-20 21:33] #8 closed, assigned to steppenhahn

[2014-05-20 22:44] aytracker opened #14 "Use Android Accounts"
Commited by bentab via google play:

[2014-05-23 09:17] aytracker opened #15 "Notes disappear"
Samsung Galaxy S4, Android version unknown, ownCloud server version unknown

Entries disappear after synchronization.

[2014-05-23 09:20] aytracker opened #16 "Characters not shown correctly"
Device Galaxy S4, Android version unknown, owncloud server version unknown

Title is shown correctly, body is not.

May depend on: https://github.com/owncloud/notes/issues/29

[2014-05-26 14:53] maltefiala opened #17 "Provide f-droid patch"
I haven't had time to do it. Hopefully this patch will be released first week in june.

[2014-05-29 10:52] jancborchardt opened #18 "Pull to refresh"
Instead of having a dedicated refresh button, it would be better to implement the well-known pull-to-refresh pattern.

[2014-05-29 10:53] jancborchardt opened #19 "Search"
It would be very helpful to be able to filter notes by search. The search could be displayed as an icon in the header bar for example.

(In the iOS version, it could be when you pull down – before pull to refresh is carried out. See the native mail app for example.)

[2014-05-29 10:54] jancborchardt opened #20 "Use proper list view"
Currently the notes are displayed in a very strange boxed list. That list has a very strange scroll behavior and a big white margin around it. Instead it would be better to use a native Holo list element which takes up all the width and height and probably performs better on scrolling.

[2014-05-29 10:55] jancborchardt opened #21 "Saves changes even when there are no changes"
When you go into a note and go back without changing anything, the app still says »Saving changes« and adds a »to Update« tag to the note. When you don’t change anything, the app shouldn’t act like you did – otherwise it seems very strange and you start to mistrust the app.

[2014-05-29 10:57] jancborchardt opened #22 "Don’t show keyboard immediately for existing notes"
It’s good to show the keyboard immediately for new notes – because you can only type. But existing notes you first probably want to read, and if you want to edit also first scroll to the point where you want to edit them.

Hence for existing notes, the keyboard should not be shown immediately but only once the content area is tapped.

[2014-05-29 10:58] jancborchardt opened #23 "Margin around the text area"
Similar to the notes list, the text area of the note has a strange thick white margin around it. It doesn’t take up the whole width and height of the display which wastes space on mobile.

[2014-05-29 10:59] jancborchardt opened #24 "List often blank"
Often when I open the app, the list is shown as blank. This also happens during manual refreshes and is very annoying – to the point where I continuously think the app deleted my data. This leads to doubting the app and a not-so-good experience.

Instead the list should always show the last known good state between refreshes, and never be blank – unless there’s actually no data there.

[2014-05-29 11:03] jancborchardt opened #25 "Save note automatically"
currently when I add a note, type text and then exit the app without either pressing the »Save« button or going back to the list (which initiates saving) the note is not saved!

This is especially grave since a notes app like that is expected to work well for quick notes. The app should always save everything that is typed. In the ownCloud Notes web app (and in [Litewrite](http://litewrite.net)) w

[2014-05-29 11:21] jancborchardt opened #26 "»Note« header"
When viewing a note, the header just says »Note«. This is not really useful – better would be to show the actual note name there (even though it would duplicate it from the first line of the text).

[2014-05-29 11:22] jancborchardt opened #27 "Separation of title and content"
In the ownCloud Notes web app and in the iOS app, the title and content of the note are separated automatically by just taking the first line as title. Only in the Android app this is different by having 2 separate text areas.

It would be a lot simpler, and more similar to the original approach by only using one text area.

[2014-05-31 21:34] maltefiala opened #29 "Special Characters in URL not interpreted correctly"
##### English
- Errorcode during synchronisation:

- URL is a subdomain containing special characters: https://cloud.x-xxxx.org
##### German
- leider bekomme ich bei der Synchronisation eine Fehlermeldung:

- URL ist eine Subdomain mit Sonderzeichen https://cloud.x-xxxx.org egal ob ich einen Slash am Ende setzte oder nicht. Die Fehlermeldung bleibt
##### Info:
- Android 4.3
- Owncloud 6.0.3 (läuft

[2014-06-05 19:25] steppenhahn opened #31 "use Master Detail Flow"
so far the app uses 3 activities.
app should be adapted to use the master/detail flow to improve handling and better support tablets.

this should also cover issues #23, #24, #20,

[2014-06-05 20:04] #15 closed, assigned to nobody

[2014-06-12 12:59] #21 closed, assigned to steppenhahn

[2014-06-13 11:16] #25 closed, assigned to steppenhahn

[2014-06-17 00:09] #17 closed, assigned to nobody

[2014-06-21 22:53] steppenhahn opened #32 "orientation changes during note-creation result in duplicates of notes"
this was annoying...

[2014-06-21 22:53] #32 closed, assigned to steppenhahn

[2014-06-23 13:17] zkvvoob opened #33 "The URL you requested data from is not correctly formed"
Hello,

MyOwnNotes looks like the perfect app for reading the notes on my OwnCloud. However, try as I might, after configuration I get the message "The URL you requested data from is not correctly formed".

My OC is installed at https://domain.eu/cloud/ and that's what I entered in the URL field. The server has a proper SSL (i.e. not self-signed) and it's been working fine with other Android apps,

[2014-06-24 12:53] tmelikoff opened #35 "Issues using myownnotes with encryption enabled owncloud"
Hello.

I'm having some strange behavior using myownnotes with my encryption enabled owncloud instance.

The only useful error from the log is:

{PHP} fopen(crypt:///username/files/Notes/test note.txt): failed to open stream: infinite recursion prevented at /var/www/owncloud/apps/files_encryption/lib/proxy.php#177

[2014-06-24 16:00] DPTJKKVH opened #36 "java.lang.NullPointerException, FATAL EXCEPTION: AsyncTask"
I really don't know what is wrong with my self signed cert but I never got any android device to accept it. Even after renewing everything after heartbleed this problem persists.

Anyways: I can use every ownCloud Android app (and paid for them because of that) because they allow to accept my self signed certificate via the app. DAVDroid and MyOwnNotes are the only ones I can't use because they fo

[2014-06-25 21:23] ahmetasabanci opened #37 "Getting "URL doesn't exist" error"
Hi,

I just installed your app (from f-droid to test before support you from Play), configured everything (added self-signed cert to phone etc.) but app always gives me the "The URL you requested the data from doesn't seem to exist. Check your spelling or internet connection." error.

Everything looks perfect on both side, no typo or something else but somehow I'm not able to get my notes or sync

[2014-06-28 06:52] #33 closed, assigned to steppenhahn

[2014-06-28 06:52] #37 closed, assigned to nobody

[2014-06-28 06:59] #10 closed, assigned to nobody

[2014-06-28 16:52] DPTJKKVH opened #38 "Widget [feature request]"
As far as I can tell the app has no widget. I'd love to see a widget that displays only the titles, opens a note by tapping on a title and allows to create a new note by pressing a plus button on the upper right corner.

[2014-07-02 09:35] #35 closed, assigned to nobody

[2014-07-02 09:37] #13 closed, assigned to nobody

[2014-07-02 14:54] ramschmaerchen opened #41 "Proof Read french translation"
We need someone to proof-read this pull request: https://github.com/aykit/myownnotes-android/pull/40

[2014-07-02 21:09] tigrino opened #42 "Fails with "There was a connection error. Please check your username / password" on encrypted ownCloud."
I run an encrypted ownCloud. The Notes app is installed and enabled. Accessing the url /index.php/apps/notes/api/v0.2/notes gives me the contents. Trying to access with the myownnotes from Android generates an error "There was a connection error. Please check your username / password". The log contains the following:
XXX - xxx [02/Jul/2014:21:08:15 +0000] "GET /index.php/apps/notes/api/v0.2/notes

[2014-07-02 21:32] #42 closed, assigned to nobody

[2014-07-03 11:15] steppenhahn opened #43 "notes disappearing when upload failed"
found a bug, that sometimes just deletes new notes after sync, even if they were not successfully uploaded due to connection errors.

[2014-07-03 11:30] #43 closed, assigned to steppenhahn

[2014-07-03 12:03] #41 closed, assigned to nobody

[2014-07-03 16:48] gityeti opened #44 "No connection with port different then 443"
Bonjour ! I'm very happy to try to get work MyOwnNotes (f-droid version 1.2) to see what it looks like. But I can't get a connection to my server. With '$ adb logcat' I get this error:
 E/NoteListActivity( 9314): ioException in UploadNotesTask:java.net.ConnectException: failed to connect to /xx.xxx.xx.xxx (port 443): connect failed: ECONNREFUSED (Connection refused)
I noticed that this IP adress i

[2014-07-07 11:54] #44 closed, assigned to steppenhahn

[2014-07-08 04:55] josh4trunks opened #46 "Issue after enabling ownCloud encryption app"
**PROBLEM**
After enabling encryption in ownCloud..
- from the android app I can create notes and edit notes created from the android app
- When I try to sync changed from the server I get the toast message
  `There was a connection error. Please check your username and password.`
- Unexpected behavior happens includes creating multiple of the same note on the server, not pulling down notes/change

[2014-07-09 13:54] maltefiala opened #48 "Some special characters in passphrase break login"
Passphrase containing "#" breaks login.

[2014-07-09 14:36] aytracker opened #49 "java.lang.IllegalStateException SQL Lite"
### google crash report

My Own Notes 1.2.2, Android 4.3

java.lang.RuntimeException: An error occured while executing doInBackground()
at android.os.AsyncTask$3.done(AsyncTask.java:299)
at java.util.concurrent.FutureTask.finishCompletion(FutureTask.java:352)
at java.util.concurrent.FutureTask.setException(FutureTask.java:219)
at java.util.concurrent.FutureTask.run(FutureTask.java:239)
at java.uti

[2014-07-09 14:46] maltefiala opened #50 "Japanese Translation"
Someone needs to translate this app for people in 東京 and all around 日本国 . I'd love to, but I am a 外人

[2014-07-11 05:40] steppenhahn opened #51 "save note automatically after x timeperiods without keypresses"
it would be a good safety feature to save the note automatically after x timeperiods without the user changing the note-text. just to be on the safe side of not losing any important notes or note-changes.

"x" and "timeperiods" will have to be tested out to be just right...

[2014-07-11 10:43] #48 closed, assigned to steppenhahn

[2014-07-11 13:37] ramschmaerchen opened #52 "Update French Translation"
Two strings have been added to the upcoming release 1.3
@flo1 : Would you have time to add the translation?
See https://github.com/aykit/myownnotes-android/blob/development/res/values/strings.xml

[2014-07-11 13:37] ramschmaerchen opened #53 "Update Spanish Translation"
Two strings have been added to the upcoming release 1.3
@tmelikoff : Would you have time to add the translation?
See https://github.com/aykit/myownnotes-android/blob/development/res/values/strings.xml

[2014-07-11 13:37] ramschmaerchen opened #54 "Update Turk Translation"
Two strings have been added to the upcoming release 1.3
@wakeup : Would you have time to add the translation?
See https://github.com/aykit/myownnotes-android/blob/development/res/values/strings.xml

[2014-07-11 13:57] #49 closed, assigned to steppenhahn

[2014-07-11 14:20] #26 closed, assigned to steppenhahn

[2014-07-11 17:13] #16 closed, assigned to nobody

[2014-07-13 14:51] #52 closed, assigned to nobody

[2014-07-13 15:10] #54 closed, assigned to nobody

[2014-07-13 18:28] ramschmaerchen opened #58 "Proof read spanish translation"
The spanish translation has been altered by non-native speakers. If you (yes, you!) have time, please proof read. That would be great!

Shortcut: https://github.com/aykit/myownnotes-android/blob/development/res/values-es/strings.xml

[2014-07-13 18:28] #53 closed, assigned to nobody

[2014-07-15 09:03] jancborchardt opened #59 "Quick note widget"
One of the main use cases of a notes app is the ability to take notes very quickly – and then also to view them very quickly.

Currently this always involves opening the app from the icon and hence slows the process down. Since Android allows widgets, that would be a great addition. There could be 2 kinds of widget:
- a widget displaying the list of notes, much like in the content area of the app.

[2014-07-15 12:10] #59 closed, assigned to nobody

[2014-07-15 14:58] jancborchardt opened #60 "Detect links"
Currently links are just normal text. The app could detect links and make them tappable.

[2014-07-18 09:10] frankgard opened #61 "Multiple notes created by sync"
After upgrading to 1.3.1, I encountered a really annoying problem. MyOwnNotes started to claim connection errors (obviously not fully true!) and recreates all "new" notes every time the sync process is started. So, I get horribly many duplicates in ownCloud, but only on the server side!!!
These wrongly created notes are not(!) sync'ed back to MyOwnNotes, so I believe that the connection error happ

[2014-07-18 12:48] gityeti opened #62 "ssl handshake"
Thank you very match for the solution concerning the port (#44). It works out of the box ;-) and connexion is ok: This error doesn't appear anymore. But I have a problem with the self-signed-certificate, the phone can't read/find it.

$ adb logcat | grep -i NoteListActivity
- waiting for device -
  I/ActivityManager( 2222): START u0 {act=android.intent.action.MAIN cat=[android.intent.category.LAUN

[2014-07-20 18:25] #58 closed, assigned to nobody

[2014-07-20 18:26] #36 closed, assigned to steppenhahn

[2014-07-22 18:13] piratenpanda opened #64 "Handle Server authentification like the Android news app"
Which can disable hostname verification. Copying the SSL cert should be optional for the app to work properly.

[2014-07-22 19:58] #64 closed, assigned to nobody

[2014-07-24 20:46] #27 closed, assigned to steppenhahn

[2014-08-02 16:48] Roboe opened #66 "Note list with more Holo-ist design"
I was about to request a pull with this done, but I was working on master branch.
When I change to development branch, the behaviour of the list rows was different (@steppenhahn's commit working on issue #27).

Basically, I worked on a list similar to what you see when open WhatsApp or Telegram.
I think is more respectful with the 4.x system theme.
Commit affects `res/values/dimens.xml`, `res/layo

[2014-08-06 08:51] steppenhahn opened #67 "" in note content breaks json"
if the note content contains a double quote ( " ) a json exception is thrown.

[2014-08-06 08:57] #67 closed, assigned to steppenhahn

[2014-08-06 11:20] #66 closed, assigned to steppenhahn

[2014-08-12 01:43] wiserweb opened #68 "Comodo SSL wildcard certificate incorrectly detected as self-signed"
If you have a wildcard certificate installed on the owncloud instance, i.e. *.example.com and you try to connect with MyOwnNotes the client will incorrectly detect that the site is using a self-signed certificate.

Other Android apps works as expected, such as CalDav apps with the signed certificate. This issue seems to be exclusive to myownnotes.

[2014-08-12 05:31] Cathryne opened #69 "auto-enable Notes app on server or warn"
I forgot to check if my ownCloud had the Notes app enabled at all, so I lost the note I created. There was no clear warning, just a generic "server OK?" message.

Would it be possible to implement an automatic activation of the app server-side, upon connection of MyOwnNotes?

[2014-08-12 10:35] Isgar opened #70 "Option for displayed lines per item"
Currently there are always the first two lines visible for each item. I have quite a few notes and all of them are named, meaning the second line is quite distracting when trying to find the right note. I would like to only view the title ie. the first line in overview.

This was actually better for me when the first line was bold, but I understand it's against the design of the notes app which ma

[2014-08-12 14:06] rigrig opened #71 "Connection hostname not passed in HTTPS handshake/headers"
My ownCloud server is set up with wildcard subdomains for virtual hosts:
* tubul.net is a plain html page, and the default host for non-matching servernames
* cloud.tubul.net is for ownCloud
* some_other_subdomains.tubul.net are also in use

When I try to sync using MyOwnNotes, it ends up connecting to the default tubul.net host, so fails to retrieve the notes, and shows a toast with "There was a

[2014-08-14 11:39] eephyne opened #72 "MyOwmNotes don't take my certificate"
I have certified my certificate with CA Cert. Since CACert are not present in android and since I don't want to add a pin code to my android device I copied the cert in /system/etc/security/cacerts.

Every app is working fine (marked as secured) except MyOwnNotes and I don't see why, it keep telling me that it try to connect to a server who use a self signed certificate.

[2014-08-14 17:13] LotekHeavy opened #73 "connection to owncloud is not working (url not exists)"
HI;

I have a owncloud running on "https://www.domain.example/cloud" if I input this into the setup of your app (under server address), the notes are not getting synch'ed.

the app says something about "url not found/exists".. (if I click on the sync/refresh icon). But I'm 100% sure that my cloud is working and I can read the notes online under those links:
- https://www.domain.example/cloud/index

[2014-08-17 12:32] EmPeWe opened #75 "not working with OC7"
The app is not working with owncloud 7, I'm getting a "Es gab einen Verbindungs-Fehler" error message.

OC: 7.0.1
notes: 0.9
MyOwnNotes: 1.5

Maybe this is related to #74

[2014-08-19 12:22] jancborchardt opened #77 "Unneeded »default note title« setting"
On setup there is a »default note title« setting which is set to »Date and time« by default. This is confusing because:
- date and time usually have little relevance for a note
- the ownCloud Notes app uses the first line of the note as the title

The setting should not be set by default – ideally not even be there.

[2014-08-19 12:28] jancborchardt opened #78 "»https« should be prepended automatically"
Currently you can’t just put in »owncloud.example.com« as the address. You have to put in »https://« before.

Instead of forcing you to type that manually on your mobile device, it should be prepended automatically.

[2014-08-19 12:30] jancborchardt opened #79 "Credential fields erased when connection was unsuccessful"
Currently when you go back to confirm the settings and your credentials were wrong, the address, name and password fields will be wiped.

That shouldn’t happen – currently you have to type everything again if you had just one typo.

[2014-08-28 11:35] #29 closed, assigned to steppenhahn

[2014-08-28 11:36] #75 closed, assigned to nobody

[2014-08-28 12:10] #61 closed, assigned to steppenhahn

[2014-08-28 12:42] #72 closed, assigned to nobody

[2014-08-30 07:35] ghost opened #80 "JSON invalid"
When the app tries to sync, it pop up an error saying "Invalid JSON format, is your server OK?" (Translated from French).

The app refuses to sync.

[2014-09-01 09:26] lub opened #81 "error 401"
Hello together,

I've the problem that MyOwnNotes can't sync my notes. I looked it up in my server log and the paths are correctly set. If I call the URL manually with a already logged in session of ownCloud it also works like a charm.

Relevant line from the server log (domain, ip and username censored):
example.com:443 xx.xx.xx.xx - user.name [01/Sep/2014:11:23:37 +0200] "GET /owncloud/index.php

[2014-09-02 08:41] #81 closed, assigned to nobody

[2014-09-03 21:50] asalminen opened #82 "24h clock shold not go over 24"
Note timestamp is 24:20 etc after midnight when it should be 0:20

[2014-09-07 16:11] Trollken opened #83 "URL doesn't exist / OC7.0.2 - MyOwnNotes 1.5 - Notes 0.9"
Hi guys,

I got a similar problem to #74.
I just installed MyOwnNotes 1.5 (via f-droid), and Notes 0.9 on my Owncloud (recently updated to 7.0.2).

Self signed certificate added on my Android smartphone too (other apps like DAVdroid and Owncloud client work well).

But when i try to sync MyOwnNotes with owncloud : « L'adresse internet n'existe pas. Vérifiez la connection internet et l'orthographe

[2014-09-07 20:08] Isgar opened #84 "Keep scroll progress after refreshing"
Following scenario:
I open the app or come back from editing a note and scroll down to find another note. Refresh finishes and I have to scroll again. That is really annoying and bad for usability. Waiting and then scrolling (or trying to be really fast if I know the note hasn't changed) isn't great either.

If scroll progress is kept the flow would be much better.

[2014-09-10 21:17] #46 closed, assigned to maltefiala

[2014-09-19 08:13] mrbiber opened #86 "[Feature request] Confirm deletion"
It is very easy to accidentally delete a note. Would it be possible to add a modal dialog to confirm deletions (maybe with a "don't ask me again" option for those who do not want it)?

[2014-09-22 10:12] #80 closed, assigned to steppenhahn

[2014-09-28 14:15] kai11 opened #88 "Change default note title to avoid semicolumn"
By default note have format like yyyy-mm-dd hh:mm:ss  and time part will cause problems on some filesystems (NTFS).
Please change formatting to hh_mm_ss (as a quick fix) or let user select format as text (%Y-%m-%d %h_%I_%S, etc...)

[2014-09-28 14:18] kai11 opened #89 "Text sharing support"
Please add MyOwnNotes to "share to" menu for text entries so it will create new note from shared text with default title

[2014-09-29 20:22] hgkamath opened #90 "allow http and not restrict to only https"
I think you should allow ordinary http too .

Here is an use case
Connection is made using openvpn
no need for second layer of ssl encrypted traffic.
also it is a hassle for simple deployments to use https  on a trusted network with trusted users.

[2014-09-29 23:07] #90 closed, assigned to nobody

[2014-10-07 18:19] lowtower opened #92 "App password secured"
Hi,

I'd like to see the possibilty to secure the app with a password.

Cheers,
LT

[2014-10-28 14:57] DonPavlov opened #94 "Crypt Error"
Hi. I have changed my owncloud to encrypt everything. The catlog doesn't give me anything i could use, but then check my owncloud i see these errors popping up.
fopen(crypt:///paul/files/Notes/0.txt): failed to open stream: infinite recursion prevented at /var/www/owncloud/apps/files_encryption/lib/proxy.php#215

So maybe it doesn't work with crypt? Maybe a problem on the notes backend?

edit: add

[2014-10-28 19:41] #94 closed, assigned to nobody

[2014-10-29 23:17] jancborchardt opened #95 "Scroll performance in list"
The scroll performance in the list is very janky. Is it a native element? It seems really choppy.

[2014-10-29 23:18] jancborchardt opened #96 "Not obvious how to confirm account settings"
It is not obvious at all that you have to go »back« out from the settings to confirm the account details. There should be some kind of »Confirm« button on the top right which also takes you back, but makes it clear that it confirms the details you just put in.

[2014-10-29 23:20] jancborchardt opened #97 "Not correctly sorted by most recently edited"
I edited quite a lot of notes on my computer lately and was confused that the Android app doesn’t show the most recently edited up top. It’s just some strange random order. The content is correctly synced though.
I assumed that this was the case, cause that sorting would make the most sense and I think it used to be like that.

Not sure what’s off here … any way I can help debug? Can you reproduce

[2015-01-02 09:07] oysteine commented on #83
Maltefiala: depends on what you mean by malformed? I've used 192.168.1.2 as the common name for the certificate, as I do not have DNS set up.This is not malformed according to RFC 5280, but there might be limitations in myownnotes' implementation?

[2015-01-02 09:28] praet0ri4n commented on #83
Ehm, sorry for not beeing clear... I meant the Common Name in my previous self signed certificate was "issued" to another host or IP. It was the original snakeoil cert that comes with apache ssl installation in ubuntu. So I created a new pair of server key and cert and entered my own domain name, e.g. "example.com" for common name. Yes, IP can be added too, but I guess not the local LAN ip 192.168

[2015-01-02 09:48] oysteine commented on #83
I only access my owncloud instance on my own network, or through a VPN to my own network so 192.168... is just as it should be. Then it seems your fix is not relevant to my problem, but nice to know.

[2015-01-04 15:03] TiberiusRegenschein opened #99 "First line of Note as Note name"
First off all thanks for the great tool. I am using it on a daily basis.
With your latest release you introduced "First line of Note as Note name" Unfortunately this is not for users like me who are using more sophisticated editors when working from a desktop environment like e.g. zim-wiki because the first line is always the same property information of the .txt file. I went back to release 1.3.1

[2015-01-09 15:02] schopenhauer opened #100 "Sync doesn't working - incorrect JSON format?"
Hello, I get the following error message with MyOwnNotes, when syncing my Notes app: "Not getting correct JSON from server. Server OK?"

For reference, my ownCloud instance 7.0.4 (stable) is running on Apache version 2.4.7, with Notes (app) version 0.9 installed. All SSL settings are working with an externally verified SSL certificate (Gandi). My phone has Android version 4.4.4 installed.

Any ide

[2015-01-26 09:40] ericfont opened #101 "readme link to owncloud notes app is broken"
My server is setup, and this android app is installed, but I can't find the server backend notes app to install.  The link in your readme points me to https://apps.owncloud.com/content/show.php/Notes?content=160567 which is empty.

[2015-01-27 08:16] ramschmaerchen commented on #101
Thanks for the hint. Notes seems to have been merged with core. You can find it here, install instructions included: https://github.com/owncloud/notes

[2015-01-27 08:16] #101 closed

[2015-01-27 09:00] ramschmaerchen commented on #100
Thanks for the input. This error normally occurs, when you installed the wrong owncloud notes app. However, as you are saying you have notes > 0.9 installed, it should work. Please activate the debug mode and paste output here. See https://github.com/aykit/myownnotes-android/blob/master/CONTRIBUTING.rst

[2015-01-27 09:36] ramschmaerchen commented on #99
Default title name being the date can be switched in the settings. Is that what you were referring to?

[2015-02-04 17:24] LudovicRousseau commented on #80
@steppenhahn The link you gave https://apps.owncloud.com/content/show.php/Notes?content=160567 do not work any more "Content not found".

What is the Notes app I should use on the owncloud server? Does it still exist?

[2015-02-04 18:37] ramschmaerchen commented on #80
Notes has been merged to core: https://github.com/owncloud/notes

[2015-02-04 19:24] LudovicRousseau commented on #80
I have owncloud version 7.0.4 (Debian package) and the Notes application is not provided :-(

[2015-02-05 09:02] ramschmaerchen commented on #80
Please follow the installation guide in the Readme of https://github.com/owncloud/notes

[2015-02-05 20:51] LudovicRousseau commented on #80
@ramschmaerchen Thanks a lot. It works now.

[2015-02-05 21:08] LudovicRousseau commented on #99
The names of the notes on the web interface are the name of the files.
The names of the notes on the Android interface are the first line of the files.

It would be fine to keep the file names as notes names on Android.

[2015-02-05 21:16] LudovicRousseau opened #102 "Add support for sub directories"
I like to store my notes in different folders for different categories.

It is possible to create sub-folders in the Notes directory on OwnCloud Files application. But files present in the sub-folder are NOT visible to the Notes web application and also to the Android application.

Is it a by design choice to avoid sub directories?
If not, can it be added?

[2015-02-06 00:04] ramschmaerchen commented on #80
Great!

[2015-02-06 00:06] ramschmaerchen commented on #102
My own notes is bound to the notes application. I myself like the minimal approach of notes. For me, subfolders would be over engineering. So no, we will not pursue this idea.

[2015-02-06 00:06] #102 closed

[2015-02-08 13:05] LudovicRousseau opened #103 "Add support of MarkDown syntax ?"
It would be nice to be able to render the notes text as markdown.

On the server side it is possible to use owncloud-markdown https://github.com/icewind1991/owncloud-markdown to edit text as MarkDown
The problem is the server Notes application and the Android Notes application can only use .txt files (and not .md files).
1. allow the Notes applications to use the .md extension. The files are still

[2015-02-08 15:41] ramschmaerchen commented on #103
Hej @LudovicRousseau,
in my opinion it is all about the question what notes are / should be. We thought of notes as short text paragraphs, only for note taking. Markdown is not necessary in this scenario.

On the other hand, one could think about notes being extensive texts about subjects. Markdown would be quite interesting in this scenario.

We aykit were aiming at the first scenario. That is wh

[2015-02-10 13:26] Trollken commented on #83
Hi guys,

Well, yesterday i updated my owncloud server to 7.0.4, and had to create new cert (previous one expired) and everything is working fine now !

Thks

[2015-02-10 13:37] oysteine commented on #83
Upgraded to owncloud 8, no change for MyOwnNotes on Android, still getting the  "The URL you request data from doesn't seem to exist. Check spelling or your internet connection".  message. Will try again on the inside of the VPN.

[2015-02-10 15:52] ramschmaerchen commented on #83
@Trollken : Great

@oysteine : I am pretty sure this has to do with a cert error or your vpn setup. I don't think that we can help much here, sorry

[2015-02-12 05:48] TiberiusRegenschein commented on #99
Your comment LudovicRousseau is absolutely correct.
In my case using zim-wiki as an advanced editor the first line of the note is always "Content-Type: text/x-zim-wiki" making every note showing the same name in android.

[2015-02-14 13:25] ramschmaerchen opened #104 "Redesign Settings Screen"
### Following should be redesigned in 2.0
- Add "Save" button at settings screen
- The Settings window should not close if the connection information is not right (add an abort button to close nevertheless

....

[2015-02-16 09:24] giovi321 opened #105 ""Syntax of file or directory name incorrect" error when syncing"
If I create a new note on my windows computer and save it as a txt file, when I modify it with myownnotes app on my phone, the windows owncloud client doesn't sync that note due the following error: "Syntax of file or directory name incorrect".
Same problem with notes created with the software "QOwnNotes" (www.bekerle.com/QOwnNotes). Once the notes created with notepad or with QOwnNotes are modifi

[2015-02-16 09:28] ramschmaerchen commented on #105
Good to know! We will try to fix it asap. However, we don't have much time at the moment. So asap could be longer than expected unfortunately

[2015-02-16 18:15] giovi321 commented on #105
Let me point out that the problem occurs only when you type a new line on the myownnotes app. If you modify the file without adding new lines no problems occur.

[2015-03-10 19:19] yasuoiwakura opened #107 "notepad.exe and EOL"
Hi there,

MyOwnNotes is a very nice idea, i use it on BlackBerry 10OS.
However, when opening the Notes with notepad.exe (default windows text editor) i cannot see the LineBreak.
When opening with wordpad its OK but i will not change the default editor for .txt files and MyOwnNotes only accepts .txt as notes.

feature request:
- change default EOL char or let user decide wich one to use
  or
- acc

[2015-03-10 19:26] maltefiala commented on #107
Dear @yasuoiwakura,
my own notes is an android application. Are you talking about my own notes or about owncloud notes? You find the owncloud notes application here: https://github.com/owncloud/notes

[2015-03-10 19:30] yasuoiwakura commented on #107
hi maltefiala!
Yes its your application, BB10 can run most Android Applications.
regarding .txt files - do you have a windows machine with owncloud client? do you have a different behavior on the EOLs, is it maybe a Blackberry issue?

[2015-03-12 17:56] eephyne commented on #103
I can understand the will to make the app simplier but I personally found that markdown is really convenient for note taking: it's simple, easy, and understandable (even if preview is better than just plain text).

The upper reference suggesting that's planned in the note app so I guess that's just a matter of time.

That's just my opinion and I understand well that represent a lot of work, I just

[2015-03-12 18:03] Fehlersturm commented on #103
Just so i und erst an this. Ehen would you want to See a rendered view of
your notes written in MD. Or are you looking for Editor features like auto
complete and highlighting?
On 12 Mar 2015 18:56, "eephyne" <notifications@github.com> wrote:

[2015-03-12 18:14] eephyne commented on #103
Woo  look like mobile auto correction :)

Both would be awesome,  well I personally don't search auto complete and highlight but more for easy access to MD characters ()[]~*-+! .

Primarily I think render view is more important since editor is already present

[2015-03-15 00:40] Fehlersturm commented on #103
Jupp, phone tried to germanify my English.
So you will need to use a different keyboard for special characters.

And I still don't quite get how the rendered view would work. Would there
be a edit button? So default view would be: try to render MD/rsT. then push
edit for text editor? Because that wouldn't need a server side
implementation at all.   Cause server is just a notes folder with text
fil

[2015-03-15 07:11] eephyne commented on #103
You can see in some apps for mobile (eg: writeily pro on android) there is just a line above the keyboard that contains all the character needed for easy access.
Screenshot :
![](http://i.imgur.com/c1hHirN.jpg)
The second bar is not related to the virtual keyboard.

For render yes a preview button is generally what's used.
(In my opinion a swipe movement to access the render could be really nice)

[2015-03-18 20:58] predus2 commented on #83
Hi,
I install oc 8 + MyOwnNotes1.5 + ocnotes 1. I use owncloud to syc contact, callendar + sms, acces via web, but can't acces notes. Still Check spelling or your internet connection message.
settings:
https://193.xxx.xxx.xxxx:1857/owncloud
maybe port forwarding problem?

can you help me?

[2015-03-23 15:03] flipsa commented on #83
I'm seeing the same problem and have a similar setup to @oysteine (owncloud-8.0.2 on my LAN; either connect from inside my LAN to https://192.168.1.254/owncloud or use openvpn to connect to my home LAN first). I did of course successfully import my certificate (CN is 192.168.1.xxx) into Android, and the cert works fine with other apps like e.g. DAVDroid.

The toast message says i mis-spelled the U

[2015-03-26 04:11] cengbrecht opened #109 "Wildcard Cert Registered under GoDaddy - Not Self Signed."
I paid for a 700$ cert from Godaddy to make everything I have work. Now yours is the only one that does not.
https://owncloud.brokedcomputer.com

[2015-03-26 21:07] jalcine commented on #109
Side-note: GoDaddy's a bad place for SSL certificates (WTF $700 USD!).

Have you tried importing the certificate that you'd export from your Web browser to your local computer, copying that to your phone and then importing that?

[2015-03-26 21:11] cengbrecht commented on #109
The whole point was that I shouldn't need too.

[2015-03-26 21:15] jalcine commented on #109
Possibly. There's a chance that the certificate chain you have might not exist on the version of Android you're using. _A chance_. This is Android we're talking about.

[2015-03-26 22:52] cengbrecht commented on #109
Hahahaha, this is true too... Though thats kind of annoying. Also, where do you get professional SSL's from that GoDaddy is the worst? Also it was for 2 years, 700$ for a Wildcard cert is pretty good.

[2015-03-27 07:39] ramschmaerchen commented on #109
@cengbrecht could you do me a favor and enable "extensive logcat output" in settings and post your logcat output here?

Btw:
http://cheapsslsecurity.com
Buying an expensive certificate does not make it more secure.

[2015-03-29 09:13] giovi321 commented on #105
Any news on this bug?

[2015-03-29 19:32] jalcine commented on #109
It doesn't make it more secure, but with the (silly) way that CAs are setup, you have to pay more for more implicit trust from the browser.

[2015-03-29 20:11] cengbrecht commented on #109
Which I paid for, but then found out that Android was stupid at times. :P

Also, I tried adding the cert manually, and it didn't take. I did follow the instructions. I've had this issue in the past though, I think its my version of Android, I am running Ressurrection Remix. http://forum.xda-developers.com/google-nexus-5/development/rom-resurrection-remix-4-4-2-kitkat-v5-t2706610

So that may play

[2015-03-31 08:38] driminicus opened #110 "Self-signed certificate not working"
I’m trying to get myownnotes working with my owncloud install.
I’ve installed ownnotes on my server (which works) but the app on my android keeps telling me that I’m trying to use a self-signed certificate.
I added my self-signed certificate to the android keychain and syncing using webdav (davdroid) works with this certificate.

Here’s what I think is the relevant part of logcat:

D/DOWNLOADTASK(

[2015-04-19 07:25] maltefiala opened #111 "Problems with v8?"
This one came in via mail:

[2015-04-29 23:21] jancborchardt commented on #97
@steppenhahn @maltefiala this is still the biggest reason of why I can't use the app productively, when the notes are just sorted all over the place. :( Any way I can help to debug?

[2015-05-05 00:25] makesmile90 commented on #111
Same problem for me.
Owncloud 8
MyOwnNote 1.5
Android 5.1.1

[2015-05-10 07:48] maltefiala commented on #111
Did you install Notes? https://github.com/owncloud/notes

[2015-05-10 08:28] maltefiala commented on #97
Dear @jancborchardt , no need for debugging, the notes are simply not ordered by last edited first. This is an easy fix. However, only @steppenhahn is working on myownnotes, in his spare time. And unfortunately, his spare time is very limited atm. We are hoping to do a hardcore dev session some time soon™. PRs are welcome however.

[2015-05-10 10:28] jancborchardt commented on #97
Sure, no problem. Unfortunately I’m not an Android dev and my free time is dedicated to design-reviews and improvements of the bunch of ownCloud community apps already. ;)

[2015-05-10 11:24] maltefiala commented on #97
I totally understand ;). I really hope we will find time to push out Version 2.0 soon™

[2015-05-21 17:13] giovi321 commented on #107
Install Notepad 2 or Notepad++.
Do you have any issues when syncing notes created on your blackberry to your computer? Because I do, and it's a problem due to EOL on my BB Passport.

[2015-05-21 20:07] giovi321 opened #112 "Error: the url you requested data from doesn't seem to exist."
I get the following error on one server which is identical to another server. Even the domain is the same, except that the one that gets the error has the number "2" at the end of the domain name.
Both the servers (either the working and the non-working one) are running owncloud 8.0.3 and notes 1.0.0. App version is 1.5

"The url you requested data from doesn't seem to exist. Check spelling or you

[2015-05-21 20:27] giovi321 commented on #112
Problem solved. The Common Name of the certificate of the server HAS to match the domain name (or ip) of the server.

[2015-05-21 20:27] #112 closed

[2015-05-22 01:04] ramschmaerchen commented on #112
Dear @giovi321 , more info on how Android deals with TLS requests is available here: https://developer.android.com/training/articles/security-ssl.html

Basic information about SNI: https://en.wikipedia.org/wiki/Server_Name_Indication

[2015-05-22 01:06] ramschmaerchen commented on #110
Please look at this issue, maybe it helps: https://github.com/aykit/myownnotes-android/issues/112

[2015-05-22 01:07] ramschmaerchen commented on #109
Please look at this issue, maybe it helps: https://github.com/aykit/myownnotes-android/issues/112

[2015-05-24 20:22] ctgcwiqc commented on #96
I agree, should be a "test settings" or "confirm settings" to verify settings are correct prior to backing out of settings menu.

[2015-05-24 21:53] irregularisnotrandom opened #113 "FR:it does not show up in the share app list"
Hi

It would be great if this app shows up in the shared app dropdowns ao one could send content directly to the note app.

Thanks

[2015-05-25 20:05] freibadschwimmer commented on #73
experience same issue, though on newer versions:

Same issue.

running OC 8.0.3, php 5.4, apache server on debian 7, certificate is added to key chain;
installed notes 1.0.0; can access it via webinterface, works fine in browser, but can't access from app (v1.5)

i copied the server address and username into the app settings, retyped passwd several times, so there shouldn't be spelling mistakes, y

[2015-05-26 07:29] maltefiala commented on #73
See this issue for more information about certificate management: #112

[2015-06-02 07:50] maltefiala commented on #96
Yep, you are totally right, we'll change that.

[2015-06-02 08:11] maltefiala commented on #107
We will be working on My Own Notes during the osce days 2015 in Vienna. If you or someone else owning a black berry is there, we would be happy to try it out. Unfortunately, we don't own a BB ourselves and therefore can't provide any support for it.

[2015-06-02 08:16] maltefiala commented on #83
Please look at this issue, maybe it helps: #112

[2015-06-02 08:17] maltefiala commented on #103
Sorry, won't fix.

[2015-06-02 08:19] maltefiala commented on #111
I am guessing you installed the wrong notes application. See #80. Closing this one for now.

[2015-06-02 08:19] #111 closed

[2015-06-02 08:20] maltefiala commented on #100
As there was no more comment, I guess the problem was the wrong notes application. See #80.

[2015-06-02 08:20] #100 closed

[2015-06-12 16:30] ramschmaerchen commented on #105
Dear @giovi321 , we are currently working on Version 2.0 which should be released tomorrow. Bug should be fixed by then.

[2015-06-12 16:54] ramschmaerchen commented on #113
Will be available in 2.0

[2015-06-12 17:16] giovi321 commented on #105
Thank you! This is very good news. I'll test it as soon as it is released.

[2015-06-13 00:26] ramschmaerchen commented on #68
Please look at this issue, maybe it helps: #112

[2015-06-13 00:27] ramschmaerchen commented on #71
We pushed version 1.6 with PR #108 today. There is a good chance it fixes that issue. Additonally, issue #112 gives some information about SSL handling in android

[2015-06-13 00:31] ramschmaerchen commented on #92
Well, this'd take a time... a long time. Sorry.

[2015-06-13 00:40] ramschmaerchen commented on #107
Unfortunately there is nobody with a BB in my circle

[2015-06-13 01:03] ramschmaerchen commented on #103
owncloud/notes will support markdown with the release of owncloud 8.1

I still think it's highly impractical on a mobile device. Typing in === (( )) [[]] characters on a mobile device does not look very convenient to me.

As the parent app will support it, we'll have to think about what to do. Will definitely not be part of Version 2.0

[2015-06-13 01:05] ramschmaerchen commented on #103
Forgot: The new lines make the screen practically disappear. It looks like wasting a lot of my expensive display space. If we implement it, it should be done right. No idea what right would look like, however...

[2015-06-13 11:05] ramschmaerchen opened #114 "Russian Translation - Help Needed"
Would be great to see Russian as added language. Unfortunately, we don't speak any. If you can translate, let us know! :)

[2015-06-13 11:06] ramschmaerchen opened #115 "Chinese Translation - Help Needed"
Would be great to see Chinese. If you speak it fluently, let us know!

[2015-06-13 11:19] LudovicRousseau commented on #103
I do not use MyOwnNotes anymore. I use a normal text file (using a ``.md`` extension) synchronised using the standard OwnCloud Android application. I do not have a markdown rendering on Android but that is not that important.

So feel free to close this bug.

[2015-06-13 11:21] ramschmaerchen commented on #103
Ok, good to know. Well, we will keep it open as we'll have to think about this soon. Thanks for your feedback.

[2015-06-13 11:36] giovi321 commented on #92
There are external apps that allow to lock other apps with a password. I'm sure there is for BlackBerry 10, I would bet that there is for Android as well.

[2015-06-13 13:30] rigrig commented on #71
Confirmed that the issue is fixed in 1.6

[2015-06-13 13:30] #71 closed

[2015-06-13 13:35] ramschmaerchen commented on #71
Great, thanks a lot for your feedback!

[2015-06-13 13:43] ramschmaerchen commented on #92
I suggest you use Cyanogenmod and it's folder locking functionality

[2015-06-15 15:28] giovi321 commented on #105
Hi @ramschmaerchen, any news for version 2.0?

[2015-06-16 08:08] maltefiala commented on #105
Dear @giovi321 , unfortunately, we were not able to finish 2.0 this weekend. We were neither able to fix this bug in 1.6, but we are working on it. Sorry for the delay.

[2015-06-22 15:31] freibadschwimmer commented on #73
Thank you for the hint; while I haven't considered that earlier, it didn't solve my problem. I still cannot connect to the server.

[2015-06-24 10:02] algogr commented on #100
I have the same problem with the last version of ownnotes. The server own notes app is 1.0

[2015-06-24 13:20] maltefiala commented on #100
The server app is called notes. Someone funny decided to name his application own notes and caused a lot of confusion. Please ignore the trolls and install the right application: https://github.com/owncloud/notes/tree/1.0.0

[2015-06-24 14:06] algogr commented on #100
Thank you very much for your answer. I 'll try it out

[2015-07-02 09:19] nytche opened #116 "Connexion Error using MyOwnnotes 1.6"
Hello,
I have a connexion error using MyOwnNotes 1.6 with CyanogenMod 10.1, equivalent to Jelly Beans. Is there a way to make it work without KitKat version?
PS. previously, all worked fine.

[2015-07-02 09:41] maltefiala commented on #116
Dear @nicocans :

MyOwnNotes is working fine on my Android 5.0 and as far as I know, it should do fine on Android 5.1 too. We need a bit more information. Please look at https://github.com/aykit/MyOwnNotes/blob/master/CONTRIBUTING.rst#user-content-how-to-submit-bugs-issues

First thing that comes to my mind:
Please make sure you migrated your self signed certificate (if any) to your new operating

[2015-07-02 11:27] nicocans commented on #116
My server have no changed and have startssl certificate.
owncloud: 8.0.4
ownNotes: 1.0
encryption: no.
cyanogenmod: 10.1
Myownnotes: 1.6
I enabled LogCat, but did not find /data/anr/traces.txt ...

[2015-07-04 08:04] maltefiala commented on #116
@steppenhahn Did you by any chance try it with Cyanogen 10.1?

[2015-07-07 06:41] nicocans commented on #116
yes, it was the same phone too.

[2015-07-07 12:58] maltefiala commented on #116
@nicocans Do you really mean 10.1 or are you talking about 12.1, the latest release?

[2015-07-08 07:43] steppenhahn commented on #116
i have never tested MyOwnNotes on 10.1.
will try and test it on a virtual device next time. although i'm not quite sure how to get cyanogenmod onto a virtual device yet :)

but on 12.1 it works normally.

[2015-07-09 06:57] nicocans commented on #116
I use cyanogenmod 10.1 on an old smartphone.
I mentioned it on my first post because android version is a requirement to use new versions of myOwnNotes. Is that true? can the issue come from another misconfig?

[2015-07-16 15:46] maltefiala opened #117 "Arabic Translation - Help Needed"
If you speak Arabic fluently, let us know.

[2015-07-16 15:47] maltefiala opened #118 "Egyptian Arabic Tranlation - Help Needed"
If you speak it fluently, let us know.

[2015-07-18 23:45] driminicus commented on #110
Well, it turned out to be a certificate issue and I've created a new certificate. It works fine now. Thanks for the help!

[2015-07-18 23:45] #110 closed

[2015-07-19 16:32] maltefiala commented on #110
You are welcome. Great you were able to fix it!

[2015-07-21 14:44] #114 closed

[2015-07-25 21:00] mulles opened #120 "[Feature request] Widget for the android app"
As for the app https://github.com/atd/HandyNotes

I would find it useful to have a widget to take notes which are right away uploaded to owncloud instance as it is now already the case, thx to the amazing work of you :)

See here for an illustrating example:
https://e1000.atria.uberspace.de/owncloud/index.php/s/PWHeTwYPKBVwCAZ

maybe it is straight forward and the code of HandyNotes can be reused?

[2015-08-09 12:59] jancborchardt commented on #120
Hey @mulles, this is a duplicate of issue https://github.com/aykit/MyOwnNotes/issues/38 – let’s continue there. :)

[2015-08-09 15:55] ramschmaerchen commented on #120
Dear @jancborchardt , thanks for referring!

[2015-08-09 15:55] #120 closed

[2015-08-09 15:57] ramschmaerchen commented on #38
This is not on our roadmap for 2015. However, we'd be happy to have someone doing it. A [bounty](https://www.bountysource.com) might convince someone to do it...

[2015-08-13 08:46] evildead45 opened #121 "TLSv1.2 support missing"
Recently I changed my webserver configuration so that TLSv1.2 is the only protocol being offered. In the very same moment MyOwnNotes starts complaining about a self-signed certificate.

If I revert the configuration on the webserver so that it also offers TLSv1.0 all is fine again.

[2015-08-13 19:46] Neha--Agarwal opened #122 "How to add gradle dependency"
This project is not gradle based. I want to contribute to the UI but I need to add a gradle dependency for it. How shall I proceed?

[2015-08-14 08:34] maltefiala commented on #122
Dear @Neha--Agarwal ,
it would be great to see you contributing. Master branch (Version 1.6) won't be ported to gradle. Development branch (version 2.0) already is gradle based. Please keep in mind that Version 2 needs a lot of attention. Version 2 is a rewrite and will feature a complete different UI. Best to ask @steppenhahn what needs to be done.

[2015-08-15 15:53] Neha--Agarwal commented on #122
Thanks for the response @maltefiala . I built the development branch but its not even running on emulator. May I resolve that issue or is it intended? Sorry I'm new to this project so I need some clarifications.

[2015-08-15 17:26] maltefiala commented on #122
Not building atm as far as I know. Although we had hoped otherwise, 2.0 is in it's very early stages atm.

[2015-09-20 08:44] grandiego commented on #121
4 days trying to make owncloud notes work, to finally find this issue. Could have spent years to figure this out.
Had to re-enable TLSv1.0 in my server.

Please add support for TLSv1.2

[2015-09-25 12:32] evildead45 commented on #121
As I opened the same ticket also at fdroid, here is there solution: https://gitlab.com/fdroid/fdroidclient/issues/370

Maybe this helps.

Best regards

[2015-10-02 06:22] geekpete opened #123 "error syncing"
Getting this error still:

Not getting correct JSON from server. Server OK?

ownCloud 8.1.3 (stable)

[2015-10-03 11:26] improti opened #124 "Sync with Android app not working (incorrect JSON due to redirect of note API to main page?)"
I just cannot seem to get it to work, therefore I try to follow your bug-reporting howto (https://github.com/aykit/MyOwnNotes/blob/master/CONTRIBUTING.rst#user-content-how-to-submit-bugs-issues) now.

Server: ownCloud 8.1.3 (stable)
Server-App: OwnNote 1.05
Android: Cyanogen 12.1
Android-App: MyOwnNotes 1.6 (from F-Droid)

I can create and edit notes with the web frontend just fine. On Android I u

[2015-10-04 08:54] steppenhahn commented on #124
that's the problem right there.

myownnotes only works with "Notes" by Bernhard Posselt and Jan-Christoph Borchardt.
you need to enable and use this app in order to make myownnotes work.

[2015-10-04 08:59] steppenhahn commented on #123
are you using the server app "Notes" by Bernhard Posselt and Jan-Christoph Borchardt?
if not - problem right there.
myownnotes only works with this app.
you have to enable and use it in order to use myownnotes

[2015-10-04 11:47] improti commented on #124
Wow. Thx opening my eyes on this ... detail ;)

[2015-10-04 11:47] #124 closed

[2015-10-04 13:28] improti commented on #123
As I got confused by this, take note (lol) that "Notes" (https://github.com/owncloud/notes) is a different server-side app than "OwnNotes" (https://github.com/Fmstrat/ownnote). This Android app only works with Notes and not with OwnNotes.

[2015-10-06 10:20] geekpete commented on #123
Perfect! Works a treat.

Now I can start thinking about an Evernote migration script...

[2015-10-06 10:20] #123 closed

[2015-10-15 14:54] maltefiala commented on #121
Thanks for the input. Reference for development: https://gitlab.com/fdroid/fdroidclient/commit/2c88703588a6192cbf3ffd7ccb8d01b65c693ed3

[2015-11-26 18:18] NuxRo opened #125 "Accept self-signed cert"
Hello,

Please accept self-signed certs (just like the ownCloud app does).
I'm yet to find a way to install the self-signed cert in my Cyanogenmod 12.1 and the suggested howto does not work. I don't want to be running my own CA, I'm using self-signed just for encryption.

[2015-11-28 14:32] piwats commented on #125
Same here

[2015-12-03 10:41] fmikker commented on #125
@NuxRo One way that benefits both your security and your wallet is to try letsencrypt.org
It's a free CA with pretty easy installation of the certificates.

[2015-12-03 10:43] NuxRo commented on #125
Well, that's in the future, this is now. :)

[2015-12-24 18:55] ayevee opened #126 "Error whe editing note created by QOwnNotes"
When I create a note in and then edit it in MyOwnNotes I get sync error.

The following excpetion is logged server-side:

[code]

[2016-01-02 12:12] gnumoksha opened #127 "Notes disappeared"
The notes written in app before synchronization disappeared after receiving an invalid json

This is disturbing

[2016-01-05 18:52] maltefiala commented on #127
Yes, this is not good indeed. We are still working on Version 2.0 and (still) hope to have it finished soon(tm). As it will be a complete rewrite, this issue won't occur any more in the future.

Regarding the error: Most of the json errors are because of the wrong app installed server side. The app you need is: https://github.com/owncloud/notes

[2016-01-06 07:24] lister171254 opened #128 "Cannot find notes in a sub-folder"
I've created notes in a subfolder 'OldNotes' of the folder 'Notes'

When running MyOwnNotes on my Samsung tablet, I cannot get to that subfolder or see the notes in that folder. There doesn't seem to be any way of setting the root folder when setting up (or using) MyOwnNotes.

I can create a new note, which ends up in the Notes folder

Thankas

[2016-01-06 11:51] maltefiala commented on #128
Dear @lister171254 : MyOwnNotes uses the https://github.com/owncloud/notes API (https://github.com/owncloud/notes/wiki/API-0.2) which unfortunately does not support subfolders.

[2016-01-06 11:51] #128 closed

[2016-01-06 23:08] gnumoksha commented on #127
Yes, it was the wrong app

[2016-01-07 08:33] maltefiala commented on #127
Ok. Unfortunately someone funny decided to name his server side app like ours which brings a lot of confusion to many people... Glad I could help.

[2016-01-07 08:33] #127 closed

[2016-01-07 08:34] maltefiala commented on #125
Future is here ;)

[2016-01-07 08:34] #125 closed

[2016-01-07 10:24] maltefiala commented on #126
Hej @ayevee , what is QOwnNotes?

[2016-01-11 15:31] ayevee commented on #126
@maltefiala , that's a desktop client for OwnNotes (http://www.qownnotes.org/)

[2016-01-14 00:58] moshpirit commented on #92
The official Owncloud app has a pass locker, can't be used here too?

[2016-01-16 12:18] edent commented on #103
Just another request for this feature.  I use this on my tablet - so there's plenty of space for viewing files. It's also easy enough to type a `*` or `[`.

[OT] @LudovicRousseau how are you syncing a folder to OwnCloud using the official app? I can tell a folder to sync, but it doesn't seem to detect when I save a new file locally using, say, Writeily.

[2016-01-16 12:54] LudovicRousseau commented on #103
@edent As I wrote in my previous comment I do not use MyOwnNotes anymore.

[2016-01-27 20:03] mke21 commented on #83
I also got this problem. I've got an owncloud server (version 8.2) running on my QNAP nas. I inserted a self-signed certificate which I imported in my Android telephone. The owncloud client works fine with this certificate and als syncing contacts en agenda seems fine. But MyOwnNote (versio 1.6) tells me the url doesn't seem to exist. Which is of course untrue. I am pretty sure that the Common Nam

[2016-02-03 06:32] LEDfan commented on #103
@ramschmaerchen

I agree with you, that a note app should have just an editing area and a new note button.  (a desktop app could have some more features as long it is not cluttered) But not everyone agrees with this, and that's why I think you should support the extensions the notes app on ownCloud supports. (https://github.com/owncloud/notes/pull/161) Note that with support I don't mean to render

[2016-02-05 20:21] rudo54 commented on #126
I have the same issue here

[2016-02-07 17:29] pbek commented on #126
What is the content of that note?

[2016-02-07 19:35] rudo54 commented on #126
These are text-only notes, formatted by markdown.
Just like this:

Note 2016-02-07T21.32.18
========================

Test

[2016-02-07 20:02] pbek commented on #126
Would such a name work, @maltefiala ?

[2016-02-09 06:48] LEDfan commented on #103
Mmm, it looks like it's already supported to open and edit markdown files, sorry then for your time :smiley:

[2016-02-16 12:00] pixelrust commented on #126
Yesterday I lost a few updates I had made to a note.

I had edited it from Android (MyOwnNotes), from web (Owncloud web interface) and from desktop (Linux official client), possibly almost at the same time. Unfortunately, I didn't track all updates and actions.

Given @pbek 's question I'll note that at some point I had mistakenly renamed the note this way:
### System

[2016-02-17 20:35] enoch85 opened #129 "how do I sync?"
Hi!

Thanks for a great app.

What I wonder is how to sync from mobile. It's not obvious what address you should put in the field. Right now I have https://example.se/remote.php/caldav I've also tried with /webdav at the end but with no luck - it says connection error.

[2016-02-18 08:14] maltefiala commented on #129
We are currently using the notes API. However, this will be changed with release of 2.0 that's right around the corner. https://github.com/owncloud/notes/wiki/API-0.2

[2016-02-18 12:15] enoch85 commented on #129
Ok thanks, but question remians how do I connect? Which address do I write?

[2016-02-18 13:22] steppenhahn commented on #129
as mentioned in the short FAQ in the app under "help" you just need to enter the root URL to your server e.g: https://myserver.com
make sure to write the https though!

[2016-02-18 19:42] enoch85 commented on #129
Yeah, problem is, that doesn't work.

[2016-02-20 18:47] ssdnvv opened #130 "Failure retrieving resources for org.aykit.MyOwnNotes"
Hi,

I just downloaded your app.
After setting app owncloud notes on my server I entered the url and credentials into the app.
The app then shows the Notes, but when I edit a file, It shows an "update" on the right to the note and then a toast message pops up saying a connection failure occured.
Looking into logcat it shows the following lines linked to the search for myownnote

---

02-20 19:30:4

[2016-02-24 14:35] demlak opened #131 "Custom folder"
hi,
since i'm using QOwnnotes a lot and since i'm using a custom folder in it, i would like to ask for an option in MyOwnNotes to change default notesfolder..

it's not realy necessary, because i'm able to change the folder in QOwnNotes.. but i would like to have my "_notes" instead of "notes" folder... because of sorting in webdav browsers =)

i'm not sure if this is just a QOwnNotes feature.. an

[2016-04-25 21:27] naraesk opened #132 "Die Url, von der Daten abgefragt werden, scheint nicht zu existieren."
Hello,

when syncing notes I get the following error message: "Die Url, von der Daten abgefragt werden, scheint nicht zu existieren." What to do? The url is correct of course. I'm running owncloud 9 and the corresponding version of the notes app. Might this cause the problem?

Thanks in advane. :-)

[2016-05-24 21:17] tdwyer commented on #129
Yep, dose not work here ether.

https://example.com:2222 # no connect
https://example.com:2222/ # no connect
https://example.com:2222/index.html # this gives me invalid JSON
https://example.com:2222/index.html/index.php # invalid JSON
https://example.com:2222/index.html/index.php/apps/ownnote/ # this gives me invalid JSON

[2016-05-24 21:19] tdwyer commented on #129
OwnCloud 9.0.2

[2016-05-29 17:21] Matthias84 commented on #129
Same here for OC 8.2.5 and ON 1.08. Corresponding to logcat the server returns plain HTML instead of JSON. Is there an easy way to get the URL that the App triggers?

[2016-06-01 19:55] jaksz commented on #117
Is this still of importance? And how much strings need to be translated?

[2016-06-02 20:41] g4bb4j03 commented on #129
Hi,
For me  the android app v1.6 is working fine with my owncloud 9.0.2 server and noteapp 2.0.1. Can you connect via other applications to your owncloud server, bsp. desktop client, mobile owncloud client? If you have with other applications too issues then is you owncloud server installation not done properly. I had with my firdt owncloud server installation once a similar issue. That was caused

[2016-06-03 10:25] schulmar opened #133 "Separate save and delete button more widely"
When adding a new note, the save and delete button are right next to each other.

On small devices the user can click on delete accidentally which deletes the written text without any warning.

I propose to leave more space between the two buttons and to add a confirmation dialog to the delete button.

[2016-06-26 16:08] cengbrecht commented on #109
Please close, the cert needed the chain file. Problem solved.

[2016-06-26 16:13] cengbrecht opened #134 "Latest Version?"
I currently have version 1.0.0 installed, but I am unable to connect to the notes from the app.
Nothing's changed, and I can see notes from the wan side. But not in the app. Any advice?

[2016-07-03 14:36] sdukhovni commented on #50
I'm a reasonably competent Japanese speaker interested in helping out; where do I start?

[2016-07-03 16:20] cengbrecht commented on #134
Is this android app compatible with owncloud/notes?

[2016-09-16 15:27] sfurey commented on #129
I've run into this as well.

I'm running the 1.6 android app and Nextcloud 10. owncloudNotes for Android also works. QOwnNotes on multiple machines work just fine.

Relevant log lines

[code]

[2016-10-28 11:04] aizikil opened #135 "Can't connect to my server"
Hi, so as I mentioned above, I can't connect to my server. I made a self signed certificate and I don't use domain name, so my server address string is "https//195.144.**_.**_:8006" (note that port isn't standard). Certificate is imported to my mobile phone and when app tries to connect to server it popups a message which says that - "The URL you request data from doesn't seem to exist......."

[2016-11-03 01:28] dstu69 opened #136 "[Feature request] Text size"
It would be great to have the ability to set in the settings page (for all the notes) the default (larger than the current very small font) text size.

That would be especially useful on tablets, where the text is almost too small to read .

Thanks

[2016-11-03 15:58] anonymeuh opened #137 "[Android app] Json error"
Please help us by providing the following info.

[b]Steps to reproduce[/b]
1. Installing the app Myownnotes v1.6 or Notes v0.9.0
2. Trying to login to my owncloud server with good IDs

[b]Expected behaviour[/b]
I expected it to login and synchronizes my notes with my owncloud server.

[b]Actual behaviour[/b]
Error JSON, no synchronization, no login.

[b]Mobile client configuration[/b]
Client OS (i

[2016-11-19 15:23] dstu69 opened #138 "Specific user can't sync notes (admin can)"
These are the logs I get in /data/owncloud.log when the connection is rejected for that user:
`{"reqId":"WlQOedGNoG\/5Hg67jfIJ","remoteAddr":"x.x.x.x","app":"index","message":"Exception: {\"Exception\":\"OCP\\\\Files\\\\NotFoundException\",\"Message\":\"\",\"Code\":0,\"Trace\":\"#0 \\\/var\\\/www\\\/owncloud\\\/lib\\\/private\\\/files\\\/node\\\/node.php(338): OC\\\\Files\\\\Node\\\\Node->getFileI

[2016-11-19 15:31] dstu69 commented on #138
I just added another user and created a note for it using the app, and it works, so it's only for that specific user that something happened, but I have no idea how to resolve it. I enabled in the app the `extensive logcat output` option, but I can't find any logs on the phone

[2017-01-01 20:08] Rowabi commented on #137
New installation of MyOnwNotes.
I get an Error message:  "Kein gültiges JSON Fomat vom Server bekommen. Server OK?"
"Englisch: No valid JSON Format received from the Server."
Connection with the Owncloud App works fine
Owncloud Version 9.1.3
Ownnote by Ben Curtis is activated
Client Samsung Note 8.0 / Android 4.4.2
What can I do to solve this?
Thanks

[2017-01-02 19:42] gerribaldi commented on #137
Same Problem with nexus 5 and android 6.0.1 and shield tablet with android 6, owncloud 9.1.2
Any hints?

[2017-01-12 21:02] x86dev commented on #137
Same here. NextCloud 11 with QOwnNotes API installed. QOwnNotes on the desktop works flawless, but with MyOwnNotes on Android 6.0.1 I also get the "JSON Error".

[2017-02-09 21:28] Yeru-314 commented on #137
Same here. OC 8.2 and an Android 5.1.1

[2017-02-12 23:03] avamk commented on #137
Same here with ownCloud 9.1.4 and Android 5. Please help!

[2017-03-10 07:45] maltefiala commented on #138
MyOwnNotes 2 is live. Complete rewrite, issue closed

[2017-03-10 07:45] #138 closed

[2017-03-10 07:45] maltefiala commented on #137
MyOwnNotes 2 is live. Complete rewrite, issue closed

[2017-03-10 07:45] #137 closed

[2017-03-10 07:45] maltefiala commented on #135
MyOwnNotes 2 is live. Complete rewrite, issue closed

[2017-03-10 07:45] #135 closed

[2017-03-10 07:45] maltefiala commented on #134
MyOwnNotes 2 is live. Complete rewrite, issue closed

[2017-03-10 07:45] #134 closed

[2017-03-10 07:45] maltefiala commented on #133
MyOwnNotes 2 is live. Complete rewrite, issue closed

[2017-03-10 07:45] #133 closed

[2017-03-10 07:45] maltefiala commented on #132
MyOwnNotes 2 is live. Complete rewrite, issue closed

[2017-03-10 07:45] #132 closed

[2017-03-10 07:46] maltefiala commented on #130
MyOwnNotes 2 is live. Complete rewrite, issue closed

[2017-03-10 07:46] #130 closed

[2017-03-10 07:46] maltefiala commented on #129
MyOwnNotes 2 is live. Complete rewrite, issue closed

[2017-03-10 07:46] #129 closed

[2017-03-10 07:46] maltefiala commented on #121
MyOwnNotes 2 is live. Complete rewrite, issue closed

[2017-03-10 07:46] #121 closed

[2017-03-10 07:46] maltefiala commented on #122
MyOwnNotes 2 is live. Complete rewrite, issue closed

[2017-03-10 07:46] #122 closed

[2017-03-10 07:46] maltefiala commented on #126
MyOwnNotes 2 is live. Complete rewrite, issue closed

[2017-03-10 07:46] #126 closed

[2017-03-10 07:47] maltefiala commented on #116
MyOwnNotes 2 is live. Complete rewrite, issue closed

[2017-03-10 07:47] #116 closed

[2017-03-10 07:47] #109 closed

[2017-03-10 07:47] maltefiala commented on #107
MyOwnNotes 2 is live. Complete rewrite, issue closed

[2017-03-10 07:47] #107 closed

[2017-03-10 07:47] maltefiala commented on #105
MyOwnNotes 2 is live. Complete rewrite, issue closed

[2017-03-10 07:47] #105 closed

[2017-03-10 07:48] maltefiala commented on #104
MyOwnNotes 2 is live. Complete rewrite, issue closed

[2017-03-10 07:48] #104 closed

[2017-03-10 07:48] maltefiala commented on #97
MyOwnNotes 2 is live. Complete rewrite, issue closed

[2017-03-10 07:48] maltefiala commented on #96
MyOwnNotes 2 is live. Complete rewrite, issue closed

[2017-03-10 07:48] #96 closed

[2017-03-10 07:48] maltefiala commented on #95
MyOwnNotes 2 is live. Complete rewrite, issue closed

[2017-03-10 07:48] #95 closed

[2017-03-10 07:49] maltefiala commented on #92
MyOwnNotes 2 is live. Complete rewrite, issue closed.

[2017-03-10 07:49] #92 closed

[2017-03-10 07:50] maltefiala commented on #103
MyOwnNotes 2 is live. Complete rewrite, issue closed

[2017-03-10 07:50] #103 closed

[2017-03-10 07:50] maltefiala commented on #88
MyOwnNotes 2 is live. Complete rewrite, issue closed

[2017-03-10 07:50] #88 closed

[2017-03-10 07:50] maltefiala commented on #86
MyOwnNotes 2 is live. Complete rewrite, issue closed.

[2017-03-10 07:50] #86 closed

[2017-03-10 07:50] maltefiala commented on #84
MyOwnNotes 2 is live. Complete rewrite, issue closed.

[2017-03-10 07:50] #84 closed

[2017-03-10 07:50] maltefiala commented on #83
MyOwnNotes 2 is live. Complete rewrite, issue closed.

[2017-03-10 07:50] #83 closed

[2017-03-10 07:50] maltefiala commented on #82
MyOwnNotes 2 is live. Complete rewrite, issue closed.

[2017-03-10 07:50] #82 closed

[2017-03-10 07:51] maltefiala commented on #79
MyOwnNotes 2 is live. Complete rewrite, issue closed.

[2017-03-10 07:51] #79 closed

[2017-03-10 07:51] maltefiala commented on #78
MyOwnNotes 2 is live. Complete rewrite, issue closed.

[2017-03-10 07:51] #78 closed

[2017-03-10 07:51] maltefiala commented on #77
MyOwnNotes 2 is live. Complete rewrite, issue closed.

[2017-03-10 07:51] #77 closed

[2017-03-10 07:51] maltefiala commented on #73
MyOwnNotes 2 is live. Complete rewrite, issue closed.

[2017-03-10 07:51] #73 closed

[2017-03-10 07:51] maltefiala commented on #70
MyOwnNotes 2 is live. Complete rewrite, issue closed.

[2017-03-10 07:51] #70 closed

[2017-03-10 07:51] maltefiala commented on #69
MyOwnNotes 2 is live. Complete rewrite, issue closed.

[2017-03-10 07:51] #69 closed

[2017-03-10 07:51] maltefiala commented on #68
MyOwnNotes 2 is live. Complete rewrite, issue closed.

[2017-03-10 07:51] #68 closed

[2017-03-10 07:51] maltefiala commented on #62
MyOwnNotes 2 is live. Complete rewrite, issue closed.

[2017-03-10 07:51] #62 closed

[2017-03-10 07:52] maltefiala commented on #3
MyOwnNotes 2 is live. Complete rewrite, issue closed.

[2017-03-10 07:52] #3 closed

[2017-03-10 07:52] maltefiala commented on #38
We won't do this, closed.

[2017-03-10 07:52] maltefiala commented on #24
MyOwnNotes 2 is live. Complete rewrite, issue closed.

[2017-03-10 07:52] #24 closed

[2017-03-10 07:54] maltefiala commented on #31
MyOwnNotes 2 is live. Complete rewrite, issue closed.

[2017-03-10 07:54] #31 closed

[2017-03-10 07:54] maltefiala commented on #23
MyOwnNotes 2 is live. Complete rewrite, issue closed.

[2017-03-10 07:54] #23 closed

[2017-03-10 07:54] maltefiala commented on #22
MyOwnNotes 2 is live. Complete rewrite, issue closed.

[2017-03-10 07:54] #22 closed

[2017-03-10 07:54] maltefiala commented on #20
MyOwnNotes 2 is live. Complete rewrite, issue closed.

[2017-03-10 07:54] #20 closed

[2017-03-10 07:55] maltefiala commented on #14
MyOwnNotes 2 is live. Complete rewrite, issue closed.

[2017-03-10 07:55] #14 closed

[2017-03-10 07:55] maltefiala commented on #136
MyOwnNotes 2 is live. Complete rewrite, issue closed.

[2017-03-10 07:55] #136 closed

[2017-03-10 07:55] maltefiala commented on #131
Won't fix

[2017-03-10 07:55] #131 closed

[2017-03-10 07:55] maltefiala commented on #51
MyOwnNotes 2 is live. Complete rewrite, issue closed.

[2017-03-10 07:55] #51 closed

[2017-03-10 08:18] pbek commented on #129
@maltefiala, great will it be on the google play store?

[2017-03-10 08:23] maltefiala opened #139 "Version 2 not on F-Droid"
Build problems with version 2 on F-Droid. I will fix it.

[2017-03-10 08:26] maltefiala commented on #129
Current Roadmap:
* Fix F-Droid problem (does not auto-build atm)
* Hear some voices of F-Droid and open source users (bugs?)
* Release update to 2.0 on play store

[2017-03-10 08:28] pbek commented on #129
Thanks for the feedback, I can't wait to test it! ;)

[2017-03-10 08:29] pbek commented on #129
Disclaimer: I'm the author of https://github.com/pbek/QOwnNotes :smile_cat:

[2017-03-10 08:31] maltefiala commented on #129
Great, good to know!

[2017-03-10 13:24] Yeru-314 commented on #139
(First off: Thx for the new release and solving #137 .)
Even when I try to to build the .apk by myself according to the instructions in the readme, I get
"Error:A problem occurred configuring project ':app'.
Failed to find target with hash string 'android-23' in: /home/<user>/Android/Sdk"
Any ideas?

[2017-03-11 09:02] maltefiala commented on #139
We don't have any build instructions in the README: https://github.com/aykit/MyOwnNotes/blob/master/README.rst

[2017-03-22 18:27] ramschmaerchen commented on #139
Merge is pending: https://gitlab.com/fdroid/fdroiddata/merge_requests/2120

[2017-03-27 12:13] gardar opened #140 "Nextcloud support for MyOwnNotes 2?"
It would be good if we could use the nextcloud app instead of the owncloud app for authentication with MyOwnNotes 2.

[2017-03-27 12:19] ramschmaerchen commented on #140
We decided to support ownCloud, see https://github.com/aykit/MyOwnNotes#what-do-you-think-about-nextcloud

What efforts would be needed to port for nextCloud?

[2017-03-27 12:22] ramschmaerchen commented on #139
Merge complete, we are waiting for F-Droid to update its builds and metadata: https://f-droid.org/wiki/page/org.aykit.MyOwnNotes

[2017-03-27 13:12] gardar commented on #140
Understood.

I'm not quite sure what efforts would be needed, the nextcloud and owncloud servers/clients are quite similar at this point and almost everything I've tried on owncloud works on nextcloud and vice versa.

I have a nextcloud 10.0.1 server and it works fine with the owncloud android app and MyOwnNotes 2 through the owncloud android app.
It would be good if I could use the nextcloud app

[2017-03-27 13:24] gardar commented on #139
It's live on F-droid, just got the update!
https://f-droid.org/repository/browse/?fdfilter=myownnotes&fdid=org.aykit.MyOwnNotes

[2017-03-27 14:55] ramschmaerchen commented on #139
Yes!

[2017-03-27 14:55] #139 closed

[2017-03-27 14:55] ramschmaerchen commented on #18
Fixed

[2017-03-27 14:55] #18 closed

[2017-03-27 20:25] Saroumane opened #142 "All notes lost after 2.0 upgrade"
Hello, this is my desperate call for help .

I upgraded this morning MyOwnNotes from latest version on f-droid (2.0)
After upgrade all my notes have disappeared !

For the record : I was using MyOwnNotes as a classic "notes app" in local mode only. I was planning to add someday sync with an Owncloud account.
So I have no fresh backup of this note. (Yes, you can blame me)

What should I do to recov

[2017-03-27 20:26] ramschmaerchen commented on #99
Dedicated title in 2.0

[2017-03-27 20:26] #99 closed

[2017-03-27 20:26] ramschmaerchen commented on #113
Did not make it into 2.0, duplicate of #89

[2017-03-27 20:26] #113 closed

[2017-03-27 23:51] jancborchardt commented on #18
@ramschmaerchen oooh awesome! Good to see you’re working on the app again! :)

Since it has been some time – is it also compatible with https://nextcloud.com (community-driven fork of ownCloud), or is there anything we can help with making it work? :)

[2017-03-28 08:09] repsorp opened #143 "MyOwnNotes 2.0 crashes in a systematic way"
Systematic crash when trying to open a note, any note...
Everything used to be ok with v. 1.6

SYSTEM INFORMATION
Android version: 4.4.2 (cm_hammerhead-userdebug 4.4.2 KOT49H InstallerXNPQ08Q release-keys)
Device: LGE Nexus 5 (hammerhead)

03-28 08:01:27.933 I/ActivityManager(820): Timeline: Activity_windows_visible id: ActivityRecord{42c37e98 u0 org.aykit.MyOwnNotes/.activities.NoteListActivity t

[2017-03-28 13:12] ramschmaerchen commented on #18
Hej @jancborchardt , see https://github.com/aykit/MyOwnNotes/issues/140

[2017-03-28 13:14] ramschmaerchen commented on #118
We won't support translations in 2.0.

[2017-03-28 13:14] #118 closed

[2017-03-28 13:14] ramschmaerchen commented on #117
We won't support translations in 2.0.

[2017-03-28 13:14] #117 closed

[2017-03-28 13:14] ramschmaerchen commented on #115
We won't support translations in 2.0.

[2017-03-28 13:14] #115 closed

[2017-03-28 13:14] ramschmaerchen commented on #50
We won't support translations in 2.0.

[2017-03-28 13:14] #50 closed

[2017-03-28 16:23] jancborchardt commented on #140
@ramschmaerchen just for reference on the GSoC acceptance: of course they were accepted – because in all the recent years @jospoortvliet, me and others worked hard on that – and now switched to Nextcloud. Nextcloud though is in the eyes of Google a »new« project, even though most developers switched. It sucks but we will work to get accepted again. :)

We for example:
- we’re accepted to https://r

[2017-03-28 16:33] ramschmaerchen commented on #140
@jancborchardt MyOwnNotes is a hobby project. If supporting nextCloud requires much effort we won't do it.
However, if the integration of nextCloud and ownCloud android clients is the same I guess it may be doable. If the dev of the nextCloud client could shed light on this, it would be much appreciated.

Just fyi: MyOwnNotes 2 does not depend on the server side notes application anymore.

[2017-03-28 16:43] ramschmaerchen commented on #142
Well that is ... not good. We tested migrating offline data so I am estranged it did not work on your side. We'll take a look at it.

Before using the phone much more it may be a good idea to backup the whole phone with dd or sth similar. If your device is rooted this should be doable. If not, consult your closest Android fanboy to help out. You need to read out the data as close to the hardware a

[2017-03-28 17:34] jancborchardt commented on #140
@ramschmaerchen sure, that’s why we’re here to help you. :) I see no reason why MyOwnNotes shouldn’t work with Nextcloud. You can actually just directly try with the demo server at https://demo.nextcloud.com

Cool! :) Even simpler.

[2017-03-28 17:55] ramschmaerchen commented on #140
Ok, if I understand correctly, we can interact with the [nextCloud client](https://f-droid.org/wiki/page/com.nextcloud.client) the same way as we do with the ownCloud client? Do you plan to make nextCloud available on F-Droid again, see [this isse](https://github.com/nextcloud/android/commit/e245b1f91dd30994f182892255d963a62dc6429c#commitcomment-21381828).

Thanks for the hint with the test instan

[2017-03-28 18:49] 9662 commented on #140
As a user without involvement in either project, ownCloud is dead. For us, the last drop was back in [November 2016](https://github.com/owncloud/owncloud.org/issues/1106).

Please consider switching to Nextcloud, cheers. 👍

[2017-03-28 19:21] pecuna commented on #140
Nextcloud seems to be preferred over Owncloud as it is more actively developed and is completely opensource and free.
I am forced to use the old version of MyOwnNotes until Nextcloud app is supported.
I am sure the count of people like me will grow.

[2017-03-28 22:35] repsorp commented on #143
Sorry... My bad
  •  Mobile device using Android Version >= 5.0
Didn't see that anywhere on f-droid

[2017-03-28 22:36] repsorp commented on #143
Back to 1.6 so...

[2017-03-28 23:30] Saroumane commented on #142
Thank for your feedback, I'll try to follow you advice, but my phone is not rooted. And it's quite hard to root it, apparently. (it's an "exotic" model)

I already tried to downgrade in 1.6. Fdroid did not let me do that, so I had to delete 2.0 first, then reinstall 1.6.
Unfortunately, no notes after I launched 1.6 version
I feel stupid because every other private data on my phone is synced OTA :

[2017-03-29 00:21] Albirew commented on #140
Actually, version 1.6 was working fine with my Nextcloud server. Version 2.0 broke compatibility by requesting owncloud app instead of previously used credentials.

[2017-03-29 00:32] mario commented on #140
@ramschmaerchen we already have a nightly version on F-droid without GCM, though we can't guarantee for the bugs that removing GCM brought.

https://f-droid.org/repository/browse/?fdfilter=com.nextcloud&fdid=com.nextcloud.android.beta

I didn't check the code, but why wouldn't it work with the NC app as well? :)

Anyway, happy to help in whatever way I can.

(Just for my information: if you don't

[2017-03-29 04:17] ramschmaerchen commented on #140
Here my honest opinions to all of you:

OwnCloud was never known for stable releases. Bugfixing has always been a problem in the owncloud world. Seeing all those that were unable to maintain ownCloud in an enterprise way depart to nextCloud does not want me to use nextCloud.

Calling a gsoc attender dead is just not honest.

Fully free != Shipping with GCM per default.

We will look into supportin

[2017-03-29 09:52] jancborchardt commented on #140
@ramschmaerchen from what I can see, I’ve been the person from the ownCloud community who communicated most with you, used the app, reported issues etc. I’m with Nextcloud now. That should already be an indicator which community is really active …

That’s some of the biggest reasons we forked and focused on more stability and security.

Simply compare this: https://github.com/owncloud/core/graphs/

[2017-03-29 09:53] jancborchardt commented on #97
@maltefiala so is it fixed in MyOwnNotes 2 then? Or just mass-closing of issues? ;)

[2017-03-29 09:54] jancborchardt commented on #79
@steppenhahn @maltefiala thanks a bunch for your work! :)

[2017-03-29 09:55] jancborchardt commented on #38
@ramschmaerchen @maltefiala one of the magic things of open source is that someone could contribute this. :) Especially since you rewrote the app now, I would advise keeping this open or opening a fresh issue and then put it up as »help wanted«.

[2017-03-29 10:33] ramschmaerchen commented on #140
You are right and I really appreciate your effort.

Regarding both cloud applications I don't care about either of them. I want files being backupped and accessible online. I don't care which application is doing that. OwnCloud did this so so, but Seafile is not good either so I decided to stay. If nextCloud achieves a *stable* ownCloud, I'd be happy to use it.

Regarding myownnotes support it dep

[2017-03-29 11:23] thomascrisan commented on #140
@pecuna I am in the same predicament of not being able to use MyOwnNotes version 2.0.  I switched to Nextcloud last year and have found the experience less frustrating than when I was using ownCloud (better communications via the web, faster bug fixes, more reliable).

I switched to this android application and for now it is working for me.
[https://github.com/stefan-niedermann/nextcloud-notes](ht

[2017-03-29 11:37] ramschmaerchen commented on #140
Great, good to know.

[2017-03-29 11:44] ramschmaerchen commented on #38
I have a deja vu.

[2017-03-29 12:14] 9662 commented on #140
Every project makes a (deliberate or not) decision on its stability vs innovation trade-off. Your comment appears to suggest that the OC/NC maintainers drift a bit too far towards the innovation side. At least from my experience and considering the "stable" release channel, that indeed appears to be a valid criticism for a project which is "enterprise-oriented"—let us hope that as the project evol

[2017-03-29 13:22] ramschmaerchen commented on #142
@Saroumane regarding location of 1.6 db I will relay your question to @steppenhahn .

If you still want to go down the android forensics path, be advised that you should have as little data writes as possible as your lost data may get overridden by succeeding writes.

[2017-03-29 13:23] ramschmaerchen commented on #142
Btw, I kindly ask you to provide us with detailed device and OS information as something like that should not happen and needs to be looked at thoroughly.

[2017-03-29 13:59] AndyScherzinger commented on #140
True and like @mario already comment, is something we are working on getting rid again. The reason why it came in and then it will get very tricky is that Android 7 broke large parts of the app for many Android 7 running devices. So this is a quick fix to enable people to use it again since a pure-no-goole fix would have taken much longer, so it was a temporary trade-off/quick fix.
tl;dr we are wo

[2017-03-29 16:48] jancborchardt opened #144 "MyOwnNotes 2 not available on Play Store yet"
Do you plan to release it to there too? Because there I can only see the old 1.6 and no beta. Or will it only be on F-Droid?

Thanks :)

[2017-03-29 17:14] repsorp commented on #143
4.1 or later...
![4 1](https://cloud.githubusercontent.com/assets/6297032/24467205/e1093be2-14b3-11e7-8753-dc96ad581d51.jpg)

[2017-03-29 21:46] ramschmaerchen commented on #144
We will release it on Play as well.

[2017-03-30 16:50] tgsell opened #145 "Wrong username"
Hi

Starting MyOwnNotes for the first time, I am not able to login to my OwnCloud account. It seems, that MyOwnNotes (or some API function from the OwnCloud app) is providing the wrong username for the initial login.

It looks like USERNAME@owncloud.DOMAIN.NAME is used instead of just USERNAME, which does not work with my OwnCloud setup. This could for example be easily solved, if the username cou

[2017-03-30 20:07] Saroumane commented on #142
Device : UMI emax mini
OS : Android 5.0.2
Not rooted (I would like to, but it seems complicated or involving unsafe programs)
I don't know if it's relevant, but I have some Google apps disabled :
- G Account manager
- G App
- G Backup transport
- G Calendar Sync
- G Contacts Sync
- G One Time init
- G Partner set up

Nothing else special.

I was curious so I did this :
1/ I set up an owncloud acco

[2017-03-30 20:33] ramschmaerchen commented on #145
You need the ownCloud application for Android for authenication

[2017-03-30 20:34] ramschmaerchen commented on #145
Note to myself: This info is currently in the fdroid repo and should be added to the github repo readme as well

[2017-03-30 20:38] ramschmaerchen commented on #142
Thanks for the info. Hard to say what caused the issue. We will investigate further.

[2017-03-30 20:52] tgsell commented on #145
yes, I have version 2.0 from fDroid installed on my phone.

But I just found out, that I forgot to enable the firewall settings in AFWall for MyOwnNotes... sorry, my mistake. Everything works fine now.

The only thing which might be improved, is the error message. It is somehow miss-leading. It says username or password incorrect, but actually there was no connectivity.

You can close this ticket.

[2017-03-30 20:57] tgsell commented on #145
New issue, I have no been able to log in.

But after creating a first note, it always says "There was a connection error." while trying to sync it.

[2017-03-31 12:54] kuffnukk commented on #140
Mee too

"I am forced to use the old version of MyOwnNotes until Nextcloud app is supported"

But I using the Notes app from Niedermann IT, too.

[2017-03-31 15:29] Albirew commented on #140
A "simple" workaround would be to add a button "I want to configure credentials myself" leading to a page with fields for server address and credentials so people wouldn't have to depend to cloud app to use MyOwnNotes.

[2017-03-31 16:38] ramschmaerchen commented on #140
The ownCloud application dependency is on purpose and was a requested feature of Version 1.x

[2017-04-03 23:16] #38 closed

[2017-04-07 17:45] ChrisPHL opened #146 "App does not login to OwnCloud with URLs inlcuding subfolder."
Hi there,

my OwnCloud server has the address **https://myserver/owncloud**. (OwnCloud v9.1.4 with "OwnNote" v1.08)
This does make the MyOwnNotes App think of wrong username or password when trying to login ("Please check your username and password.").
I'm pretty sure not to have misspelled my password, tried it several times and changed to "foo" temporarely with no success.

I tried to manipulate

[2017-04-08 08:03] ramschmaerchen commented on #146
Hi, @ChrisPHL , what version of myownnotes are you using?

[2017-04-08 08:20] ChrisPHL commented on #146
Sorry, I forgot to mention that. I'm using Version 2.0 from F-Droid.

[2017-04-23 13:15] kuffnukk commented on #140
I using the Notes app from Niedermann IT some weeks now. (Made in Germany, as I ;-) Clean GUI and some nice features such as MarkDown. Works with ownCloud- & Nextcloud-Server Notes app. https://github.com/stefan-niedermann/nextcloud-notes
Available at F-droid.org & Google-PlayStore

[2017-04-23 13:18] ramschmaerchen commented on #140
Good for you

[2017-04-23 20:17] thomascrisan commented on #140
I would like to add something; Thank you to the developers of MyOwnNotes.  I used your application for years and I greatly appreciated your work.  It is just for me, the last revision was a non-starter and I hope you can address the issues moving forward.

BTW, I don't use either the ownCloud or Nextcloud sync applications.  I have found [FolderSync](http://www.tacit.dk/foldersync) meets my needs

[2017-04-25 10:45] peteman52 opened #147 "Cannot logon to owncloud server"
Hi,
my server configuration:
OwnCloud version: 9.1.5.2
server OS: Linux
ownNote 1.0.8
kind of server address:  https://myserver:port/owncloud

my android:
6.0.1, security patch 01.09.2016

This does make the MyOwnNotes App think of wrong username or password when trying to login ("Please check your username and password.").
username is shown as username@myserver:port/owncloud

problem seems relate

[2017-04-25 10:51] peteman52 commented on #147
sorry, forgot to mention: MyOwnNote app 2.0

[2017-04-27 10:27] peteman52 opened #148 "Anybody out there?"
Hello, are the maintainers all drunk or dead? Or is the project dead?

[2017-04-27 12:26] ramschmaerchen commented on #148
Hopefully drunk.

Things don't fix themselves. I'd be happy to pull your PRs.

[2017-05-06 07:48] tobiasKaminsky commented on #140
I'll add a PR later this day which supports also nextcloud, I hope it will be merged.

[2017-05-06 09:23] tobiasKaminsky commented on #140
Here it is : #149

[2017-05-06 09:36] ramschmaerchen commented on #140
Thanks. Will merge after testing.

[2017-05-28 17:32] jospoortvliet commented on #140
Any progress? I had some ppl ask me about it ;-)

WRT your comments about stability - feel free to just look a bit on twitter and read about how people had fun with ownCloud 10.0.0 and compare it with Nextcloud 12.0.0 - that should be all you need to be convinced which project has a focus on stability. Software will never be completely stable, of course and certainly there are and will be bugs in

[2017-05-31 05:55] kdslkdsaldsal commented on #140
With the danger of this issue getting even more off-topic but this needs a comment:

So much about stability in nC: [1](https://help.nextcloud.com/t/welcome-to-nextcloud-12/12874/2) [2](https://help.nextcloud.com/t/welcome-to-nextcloud-12/12874/5l) [3](https://help.nextcloud.com/t/welcome-to-nextcloud-12/12874/6) [4](https://help.nextcloud.com/t/welcome-to-nextcloud-12/12874/10) [5](https://help.n

[2017-06-01 08:27] jancborchardt commented on #140
Ah wow, the @kdslkdsaldsal fake account at it again.

I'll unsubscribe here. We offered our help and implemented things instead of just talking, as seen above. :) How you continue with it with your app is up to you of course.

[2017-06-02 20:52] kdslkdsaldsal commented on #140
Wow, havn't expected anything else then just accuses without seeing the point of my comment.

Just to keep this at the same same language / level of the previous comment:

Yes, i care about something like i have quoted above as long as a Nextcloud employee spreading fake facts  to just to push the own product.

I'll unsubscribe here as well, have fun living in your own bubble around Nextcloud.

[2017-06-02 22:19] jancborchardt commented on #140
Let me make two things very clear:

1. I always cared about this app and other 3rdparty apps, when I was at OwnCloud (even when there was no company) and also now that I'm at Nextcloud. That's very apparent from my past issue reports and participation here.

2. At least I don't veil the fact where I'm employed. Acting as if you are an independent party is just ridiculous.

[2017-06-03 05:59] kdslkdsaldsal commented on #140
1. You might have noticed that my previous comments are about https://github.com/aykit/MyOwnNotes/issues/140#issuecomment-304528620, and not about any of your activity here (besides the "Fake-Account").

2. I can't vile something which doesn't exist. Sure i'm not independent, just because i don't like how Nextcloud people acting against ownCloud publicly (best example https://github.com/aykit/MyOw

[2017-06-03 23:47] peteman52 commented on #147
Issue solved with ownCloud Synchronization client 2.4.0

[2017-06-03 23:47] #147 closed

[2017-06-27 02:17] kernins commented on #143
Similar crash on 4.4.4

`java.lang.RuntimeException: Unable to start activity ComponentInfo{org.aykit.MyOwnNotes/org.aykit.MyOwnNotes.activities.NoteDetailActivity}: java.lang.IllegalStateException: You need to use a Theme.AppCompat theme (or descendant) with this activity.
E/AndroidRuntime( 5221):        at android.app.ActivityThread.performLaunchActivity(ActivityThread.java:2215)
E/AndroidRuntim

[2017-07-18 14:11] pecuna commented on #148
No one is writing anymore. MyOwnNotes 1.6 is not working with NC 12 and Notes 2.2.0 and above. Cant sync at all - everytime I got "There was a connection error"...

[2017-07-18 14:20] peteman52 commented on #148
Maybe this will help you: https://github.com/aykit/MyOwnNotes/issues/147

[2017-07-18 14:20] #148 closed

[2017-08-18 13:22] fredericnaud opened #150 "App closes automatically, Android N"
Hi,
I'd like to use the app as I'm on Owncloud 10 and OwnNotes is no longer supported.
When I install the app from F-Droid and open it, it discovers the setup from OwnCloud but then it blinks and closes before I can see anything happening.
Clearing cache and data resets the app but the same behavior happens when I re-enter my password.
Anyone else has the same issue?
Thanks in advance,
Fred

[2017-09-10 20:02] Saylrman64 opened #151 "Not getting correct JSON from server. server OK?"
Hello,

I'm using the QOwnnote API on my Owncloud 10 server and their site indicated your app would work with their API.
So I've installed this app and configured to point to my Owncloud server but I get the error: Not getting correct JSON from server. server OK?

My phone is Android 7 and I have the OwnCloud Client installed and working.

I cannot find anything on troubleshooting for the app that

[2017-10-01 20:38] ifaist0s commented on #150
Same here. MyOwnNotes App keeps crashing when tapping to open a note. Version 1.6 was working flawlessly and I'd like to revert back to that version, but it's not available on F-Droid any more :(

ownCloud App v2.4.0 installed with F-Droid
MyOwnNotes App v2.0 installed with F-Droid

[2017-10-08 16:45] jhf2442 commented on #140
Back to topic... any news on the PR being merged and released ?
Downloaded the client today from F-Droid and still got a version that's depending on the OC accounts being configured

[2017-10-09 06:42] tobiasKaminsky commented on #140
@jhf2442 there is a PR by pending, which can solve this #149

[2017-10-09 06:48] jhf2442 commented on #140
Hi Tobias, that's what I was talking about... any ETA for it ? (though you are the submitter and not the approver)

[2017-10-09 07:43] tobiasKaminsky commented on #140
Sorry, I misread it.
No ETA from my side, but I am here and willing to change anything that comes on their QA side to get this merged as soon as possible.

[2017-10-18 13:03] osilvab commented on #147
Using ownCloud synchronization client 2.5.0 the issue happens. also with 2.4.0

[2017-11-02 11:54] V-Z opened #154 "MyOwnNotes 2.0 does not see notes stored as *.md"
Hi, I use ownCloud 9.1.6 with encryption module 1.3.0 and modules Notes 2.0.2 and  QOwnNotesAPI 17.5.0. In QOwnNotes 17.10.10 i create and sync the notes in markdown format (`*.md`). On table ASUS Transformer TF300T running KatKiss Android 7.1 I have ownCloud client 2.5.0. It correctly synchronizes the notes into `/storage/emulated/0/owncloud/USER@SERVER/Notes/` I can view and edit the files there

[2017-11-28 11:27] speedAmaster commented on #154
same to me - is there any update of the app planned? MyOwnNotes getting more tracktion in these days!
Pls keep on going! Great start so far!

[2017-11-28 11:31] pbek commented on #154
Thank you for your effort, @aykit! I'd also love to see md-support again. And all other users of <https://github.com/pbek/QOwnNotes> would surely love it too! :tada: :smile_cat:

[2018-01-06 14:16] Chewie9999 opened #155 "Connection error with Android app and no notes saved to Owncloud"
I am using ownCloud 7.0.4+dfsg-4~deb8u4 (Debian) (stable)
Client is Android 7.0 on a Samsung SM-T585
OwnCloud App is v2.5.0 and works.
On the "Hamburger" menu of MyOwnNotes it says I am logged in with the expected account.
When I try and create a new note it says "There was a connection error." with no more details.

Please let me know  what extra details you need to try and find out what is going

[2018-01-17 17:46] gitticousin commented on #155
Hi, had the same problem, in my case:  After owncloud-update: created a new "Notes"-folder on top-level of your owncloud file-system, since it works.

[2018-01-21 23:58] Chewie9999 commented on #155
Great! That fixed it for me!

[2018-02-16 19:10] earlpayton opened #156 "Back button doesn't exit the app"
#### Expected behavior
Pressing the back button twice, if not once, should exit the app.

#### Actual behavior
Pressing the back button only pops up the present screen again and again and doesn't exit the app. App can only be exited by pressing the home button and the clearing it from recents. I've shown a gif below which will give you the idea of it.

#### How to reproduce
Open the app and just p

[2018-02-22 18:39] #143 closed

[2018-06-15 09:42] tobiasKaminsky opened #159 "Build not working: Could not find com.afollestad.material-dialogs:core:0.8.1.0."
Ref: https://f-droid.org/wiki/page/org.aykit.MyOwnNotes/lastbuild

[2018-06-17 07:18] maltefiala opened #160 "Bump versions"
Relevant for https://github.com/aykit/MyOwnNotes/issues/159

[2018-06-27 12:54] mirzazulfan opened #161 "Propose Logo"
Hi @aykit . I'm graphic disigner. I would like to know if you are interested that I make a logo for your project? If you allowed me, i"ll make logo for your project and it's free.
Best Regard

[2018-06-27 16:02] makayabou commented on #140
Hello,
I don't really understand what is the problem with the feature of supporting login with nextcloud app, but I just want to say that I'd really love to see that happen!!
Thanks folks for all the great work you do that I couldn't..

[2018-06-27 17:30] maltefiala commented on #140
Releases and tags have been removed. Will be re-released as soon as master is working again. Sorry for the trouble.

[2018-09-23 22:08] twixi commented on #140
please!! need support nextcloud!

[2019-08-09 18:31] Yky commented on #156
I get this error on Android 9 as well.

[2019-08-16 07:16] maltefiala opened #163 "Looking for new maintainer"
As you all know, this project is no longer maintained. Post here if you are interested to become the new project maintainer.

[2019-11-01 12:02] hman2 commented on #155
This seems to be a bug, and it persists. I have version 2.0 from 24.03.2017, which is the latest in F-Droid. MyOwnNotes should either ask where notes shall be put (show existing folders) on the cloud, or simply create the Notes folder, which shouldn't be a problem, since MyOwnNotes obviously can write to the cloud. Also, simply creating a folder "Notes" in MyOwnCloud did the trick. Immediately aft

[2019-11-04 10:08] hman2 opened #164 "Crash upon notes creation"
Version 2.0 running on Nougat.
Steps to reproduce:
1.) Have some notes shared via OwnCloud
2.) Have the app opened
3.) Open OwnCloud on the PC
4.) Create a new note on the PC
5.) App crashes

Upon restart of the app, the new note gets synced.

[2019-11-04 10:13] hman2 opened #165 "Feature request: Have filenames accessible"
Something that puzzled me before I learned why it happened. To avoid this in future, and for other users, I make a feature request.

MyOwnNotes does sync text files, but in the menu it does not present those text files as such, but lists all the first lines of their data. This can lead to confusing if either the file name or the first line get changed.

Renaming of files on the PC for instance wil

[2019-11-04 10:16] hman2 opened #166 "File renaming not executed correctly"
Version 2.0 running on Nougat.

Steps to reproduce:
1. Create and share a Note with MyOwnCloud.
2. Rename the text file on the PC
3. On the app, a duplicate of the note appears.

This is obviously because MyOwnNotes only executes the first half of renaming: Copying to a new file name (where the same first line is contained, thus creating a duplicate entry). The second would be the deletion of the

[2019-11-04 11:41] hman2 commented on #151
If this is still current:
Try creating a folder named "Notes" in the topmost directory, which can be done in the MyOwnCloud app as well. After that everything should work. Here I use my employer's OwnCloud. There is no JSON, but upon creation of the Notes folder, the MyOwnNotes app synced all notes as ASCII (text) files in the Notes folder...

[2019-11-04 11:44] hman2 commented on #145
Did you create a folder named "Notes" in the topmost directory? That seems to be necessary, otherwise you will get the "connection" error...

[2019-11-18 09:51] hman2 opened #167 "Changes lost due to PW error"
Today I lost some edits to a note I made on the weekend. My password for the Owncloud had expired, so I got a connection error. Upon entering the new password, MyOwnNotes synced the (now outdated) cloud version onto the smartphone, not the other way round: The edit was lost.

Not a big deal in this case, but is potentially hazardous IMHO... MyOwnNotes should keep all edits locally stored until the